.log-cost-calculator-content {
	padding: 50px;
	border-radius: 20px;
	background-color: #F8F9F9;
	border: 1px solid #D3DDDF;
	@media #{$sm,$xs} {
		padding: 30px 20px;
	}
	h3 {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 25px;
		padding-bottom: 15px;
		color: var(--log-title-color);
		border-bottom: 1px solid #D3DDDF;
	}
	.calc-input {
		margin-bottom: 25px;
		.in-title {
			display: block;
			font-size: 18px;
			font-weight: 700;
			padding-bottom: 5px;
			color: var(--log-title-color);
			font-family: var(--log-heading);
		}
		input,select,textarea {
			width: 100%;
			height: 62px;
			border: none;
			padding-left: 30px;
			border-radius: 100px;
			background-color: #fff;
			-webkit-appearance: none;
			&::placeholder {
				color: #6A6A6A;
				font-size: 18px;
			}
		}
		textarea {
			height: 178px;
			padding-top: 20px;
			border-radius: 20px;
		}
		.log-distance-range {
			margin-top: 10px;
		}
		.log-distance-range .wc-input-range #slider-range {
			width: 75%;
		}
		.calc-select {
			&:before {
				top: 15px;
				right: 20px;
				content: '\f078';
				font-weight: 400;
				position: absolute;
				font-family: 'Font Awesome 5 Pro';
			}
		}
	}
	.radio-btn-area {
		gap: 15px;
		input[type="radio"] {
			display: none;
		}
		label {
			color: #003E4D;
			font-size: 18px;
			font-weight: 600;
			cursor: pointer;
			position: relative;
			font-family: var(--log-heading);
		}
		label::before {
			top: 50%;
			left: -40px;
			content: "";
			width: 32px;
			height: 32px;
			position: absolute;
			border-radius: 50%;
			border: 2px solid #D3DDDF;
			transform: translateY(-50%);
			background-color: transparent;
			transition: border-color 400ms ease;
		}
		label::after {
			top: 50%;
			left: -40px;
			content: "";
			width: 32px;
			height: 32px;
			position: absolute;
			border-radius: 50%;
			background-color: var(--log-base-color);
			border: 2px solid var(--log-base-color);
			transform: translateY(-50%) scale(0);
			transition: transform 400ms ease;
		}
		input[type="radio"]:checked + label::before {
			border-color: var(--log-base-color);
		}
		input[type="radio"]:checked + label::after {
			transform: translateY(-50%) scale(0.55);
		}
		.calc-radio {
			margin-left: 50px;
		}
	}
	.calc-cost {
		color: #fff;
		padding: 15px;
		font-size: 18px;
		margin-top: 50px;
		font-weight: 700;
		border-radius: 40px;
		font-family: var(--log-heading);
		background-color: var(--log-base-color);
	}
	.cost-form-calculator {
		.log-submit {
			color: #fff;
			width: 100%;
			height: 60px;
			border: none;
			font-size: 18px;
			font-weight: 700;
			border-radius: 50px;
			transition: all 500ms ease;
			background-color: var(--log-base-color);
			&:hover {
				background-color: #057b76;
			}
		}
	}
}