.log-service-feed-top-content {
	.log-section-title-1 {
		max-width: 500px;
	}
	.log-blog-text {
		max-width: 600px;
	}
}
.log-service-feed-content {
	.log-service-item-5 {
		margin-bottom: 30px;
	}
}
.log-service-feed-section {
	.container {
		max-width: 1230px;
	}
}