.log-slider-section-5 {
	margin: 0 auto;
	overflow: hidden;
	max-width: 1920px;
	.log-slider-bg-5 {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			opacity: .9;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background-color:  #FFEFE5;
		}
	}
}
.log-slider-item-5 {
	padding: 280px 0px 235px;
	@media #{$md,$sm,$xs} { 
		padding: 210px 0px 155px;
	}
	.slider-truck {
		opacity: 0;
		right: -25%;
		bottom: -50px;
		visibility: hidden;
		@media #{$lg,$md,$sm,$xs} { 
			display: none;
		}
	}
	.slider-svg-img-1 {
		right: 0;
		bottom: 0;
		z-index: -1;
		clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
		@media #{$lg,$md,$sm,$xs} { 
			display: none;
		}
	}
	.slider-svg-img-2 {
		right: 0; 
		top: 192px;
		clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
		@media #{$lg,$md,$sm,$xs} { 
			display: none;
		}
	}
	.log-slider-shape-1 {
		top: -35%;
		right: -23%;
		transform: scale(0);
	}
	.log-slider-shape-2 {
		top: -100%;
		left: -15%;
		opacity: .7;
	}
	.log-slider-text {
		max-width: 620px;
		@media #{$xxl} { 
			margin-left: 50px;
		}
		@media #{$lg,$md,$sm,$xs} { 
			margin: 0 auto;
			text-align: center;
		}
		.slider_title_2 {
			font-size: 70px;
			font-weight: 800;
			line-height: 1.14;
			padding-bottom: 25px;
			color: var(--log-title-color-2);
			clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
			span {
				color: var(--log-base-color-2);
				clip-path: polygon(0 100%, 100% 0, 100% 0, 0% 100%);
			}
			@media #{$sm,$xs} { 
				font-size: 50px;
			}
			@media #{$xxs} { 
				font-size: 40px;
			}
		}
		p {
			opacity: 0;
			line-height: 1.5;
			visibility: hidden;
			color: var(--log-title-color-2);
			transform: translateY(20px);
		}
		.log-slider-btn-grp {
			opacity: 0;
			gap: 20px 50px;
			visibility: hidden;
			transform: translateY(20px);
			@media #{$lg,$md,$sm,$xs} { 
				justify-content: center;
			}
		}
		.slider-cta {
			gap: 10px;
			.inner-icon {
				color: #fff;
				width: 60px;
				height: 60px;
				font-size: 28px;
				border-radius: 100%;
				background-color: var(--log-base-color-2);
			}
			.inner-text {
				@media #{$lg,$md,$sm,$xs} { 
					text-align: left;
				}
				span {
					line-height: 1;
					font-size: 16px;
					font-weight: 600;
					color: var(--log-base-color-2);
					font-family: var(--log-heading-2);

				}
				h3 {
					line-height: 1;
					font-size: 26px;
					font-weight: 700;
					color: var(--log-title-color-2);
				}
			}
		}
	}
}
.swiper-slide-active {
	.log-slider-item-5 {
		.slider-svg-img-1 {
			transition: all 3500ms ease;
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		}
		.slider-svg-img-2 {
			transition: all 3500ms ease;
			clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		}
		.slider-truck {
			right: 0%;
			opacity: 1;
			visibility: visible;
			transition: all 2000ms ease;
			transition-delay: 1200ms;
			@media #{$xxl} { 
				right: -10%;
			}
			@media #{$xl} { 
				right: -15%;
			}
		}
		.log-slider-shape-1 {
			transform: scale(1.0);
			transition: all 1500ms ease;
			transition-delay: 1800ms;
		}
		.log-slider-shape-2 {
			top: -45%;
			transition: all 1500ms ease;
			transition-delay: 1500ms;
		}
		.log-slider-text {
			.slider_title_2 {
				transition: all 2000ms ease;
				clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
				span {
					transition: all 2000ms ease;
					transition-delay: 1000ms;
					clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
				}
			}
			p {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				transition: all 800ms ease;
				transition-delay: 1400ms;
			}
			.log-slider-btn-grp {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				transition: all 800ms ease;
				transition-delay: 1800ms;
			}
		}
	}
}
.log-main-slider-nav-pagition-3 {
	top: 50%;
	z-index: 2;
	left: 60px;
	text-align: center;
	transform: translateY(-50%);
	@media #{$xxl} { 
		left: 15px;
	}
	@media #{$xl,$lg,$md,$sm,$xs} { 
		display: none;
	}
	.log-main-prev-5,
	.log-main-next-5 {
		color: #6A6A6A;
		font-size: 30px;
		transition: all 500ms ease;
		&:hover {
			color: var(--log-base-color);
		}
		@media #{$xxs} {
			width: 40px; 
			height: 40px;
			display: flex;
			font-size: 16px;
			margin: 0px 8px;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			background-color: #fff1ee;
			&:hover {
				color: #fff;
				background-color: var(--log-base-color);
			}
		}
	}
	.log-main-pagination-5 {
		margin: 15px 0px;
		@media #{$xxs} { 
			display: none;
		}
		.swiper-pagination-bullet {
			width: 50px;
			height: 50px;
			display: block;
			font-size: 30px;
			font-weight: 700;
			line-height: 50px;
			text-align: center;
			margin: 10px 0px;
			transition: all 500ms ease;
			background-color: transparent;
			color: var(--log-title-color-2);
			font-family: var(--log-heading-2);
			&.swiper-pagination-bullet-active {
				color: rgba(255, 255, 255, 1);
				background-color: var(--log-base-color);
			}
		}
	}
}