.log-about-section-2 {
	z-index: 1;
	margin: 0 auto;
	overflow: hidden;
	max-width: 1920px;
	background-color: #f5f5f5;
	.log-about-map-shape {
		top: 0;
		right: 0;
		width: 85%;
		height: 100%;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media #{$md,$sm,$xs} { 
			display: none;
		}
	}
	.log-about-img-2 {
		top: 0;
		left: 0;
		z-index: -1;
		width: 35.5%;
		height: 100%;
		@media #{$md,$sm,$xs} {
			display: none;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			content: '';
			opacity: 0.87;
			height: 100%; 
			position: absolute;
			background-color: #057b76;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.log-about-content-2 {
	gap: 30px 95px;
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.log-about-img-wrap-2 {
	max-width: 530px;
	@media #{$lg} {
		max-width: 400px;
	}
	@media #{$md,$sm,$xs} {
		max-width: 530px;
	}
	.item-img {
		overflow: hidden;
		border-radius: 400px;
		display: inline-block;
		border-bottom-right-radius: 0;
	}
}
.log-about-text-wrap-2 {
	max-width: 590px;
}
.log-about-feature-area {
	@media #{$sm,$xs} { 
		gap: 20px;
		flex-wrap: wrap;
	}
	&.ver_2 {
		gap: 25px;
		padding-bottom: 30px;
		border-bottom: 2px solid rgba(9, 9, 9, 0.06);
	}
}
.log-about-feature-item-2 {
	gap: 20px;
	.item-icon {
		width: 79px;
		height: 79px;
		border-radius: 100%;
		background-color: #fff;
		transition: all 500ms ease;
	}
	.item-text {
		max-width: 180px;
		h3 {
			color: #080808;
			font-size: 20px;
			font-weight: 800;
			padding-bottom: 5px;
		}
		p {
			font-size: 16px;
		}
	}
	&.ver_2 {
		gap: 20px;
		.item-icon {
			width: 65px;
			i {
				font-size: 64px;
				color: var(--log-base-color);
			}
		}
		.item-text {
			max-width: 230px;
			h3 {
				font-size: 22px;
				font-weight: 600;
				padding-bottom: 10px;
				color: var(--log-title-color-2);
			}
		}
	}
	&:hover {
		.item-icon {
			transform: scale(-1) rotate(180deg);
		}
	}
}
.log-about-text-desc-2 {
	color: #6a6a6a;
	font-weight: 500;
}