.log-blog-section-2 {
	z-index: 1;
	overflow: hidden;
	&:before {
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		content: '';
		height: 98px;
		position: absolute;
		background-color: #0f1114;
	}
	.log-blog-bg {
		left: 0;
		z-index: -1;
		width: 100%;
		bottom: -20%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.log-blog-item-2 {
	margin: 0 auto;
	max-width: 415px;
	margin-bottom: 30px;
	.blog-img {
		overflow: hidden;
		border-radius: 30px;
		.item-img {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 500ms ease;
				transform-origin: center center;
				transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1) scaleY(1);
			}	
		}
		.blog-meta {
			bottom: 0;
			left: 20px;
			width: 95px;
			height: 87px;
			background-color: #0f3d4a;
			transition: all 500ms ease;
			.month-meta {
				color: #fff;
				height: 100%;
				width: 26px;
				font-size: 14px;
				line-height: 1.9;
				font-weight: 600;
				text-align: center;
				writing-mode: vertical-rl;
				background-color: #072a34;
			}
			.date-meta {
				top: 7px;
				left: 42px;
				color: #fff;
				font-size: 30px;
				font-weight: 900;
				position: absolute;
			}
			.year-meta {
				left: 35px;
				bottom: 12px;
				color: #fff;
				font-size: 21px;
				font-weight: 900;
				position: absolute;
			}
		}
	}
	.blog-text {
		padding-top: 25px;
		padding-left: 20px;
		.blog_title {
			color: #080808;
			font-size: 28px;
			font-weight: 900;
			&:hover {
				color: var(--log-base-color);
			}
		}
	}
	&:hover {
		.blog-img {
			.blog-meta {
				background-color: var(--log-base-color);
			}
			.item-img {
				img {
					transform: perspective(600px)
					rotateX(0.06deg)
					rotateY(0deg)
					scaleX(1.1)
					scaleY(1.1);
				}
			}
		}
	}
}
.log-footer-cta-3 {
	z-index: 2;
	border-radius: 30px;
	background-color: #164f5c;
	padding: 60px 155px 55px 55px;
	@media #{$lg,$md,$sm,$xs} {
		padding-right: 60px;
		padding-left: 30px;
	}
	@media #{$xs} { 
		padding-left: 60px;
	}
	@media #{$xxs} { 
		padding-left: 15px;
		padding-right: 15px;
	}
	.log-footer-cta-info-text {
		gap: 30px;
		@media #{$md,$sm,$xs} { 
			justify-content: center !important;
		}
		@media #{$xs} { 
			flex-wrap: wrap;
		}
	}
	.log-footer-cta-img {
		bottom: 0;
		left: 38%;
		transform: translateX(-50%);
		@media #{$lg} {
			left: 45%;
		}
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
}
.log-footer-cta-text-desc {
	max-width: 385px;
	@media #{$lg} {
		max-width: 300px;
	}
	@media #{$md,$sm,$xs} {
		max-width: 400px;
	}
	@media #{$xs} { 
		margin: 0 auto;
		text-align: center;
	}
	h3 {
		color: #fff;
		font-size: 35px;
		font-weight: 800;
		line-height: 1.286;
		padding-bottom: 10px;
		@media #{$lg,$md,$sm,$xs} {
			font-size: 28px;
		}
	}
	p {
		color: #fff;
	}
}