.log-project-top-content {
	gap: 20px;
	.log-section-title-1 {
		max-width: 515px;
	}
	@media #{$lg,$md,$sm,$xs} {
		justify-content: center !important;
		text-align: center;
	}
}
.log-project-filter-btn {
	button {
		margin: 5px;
		border: none;
		font-size: 15px;
		font-weight: 800;
		padding: 20px 22px;
		border-radius: 10px; 
		background-color: #f6f7fb;
		color: var(--log-title-color);
		transition: all 500ms ease;
		i {
			margin-right: 8px;
			color: var(--log-base-color);
		}
		&.is-checked {
			color: #fff;
			background-color: var(--log-base-color);
			i {
				color: #fff;
			}
		}
	}
}
.log-project-content-2 {
	margin: 0px 95px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		margin: 0px 15px;
	}
}
.log-project-item-2 {
	overflow: hidden;
	border-radius: 20px;
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		height: 100%;
		content: '';
		opacity: 0;
		position: absolute;
		background-color: #0f3d4a;
		transition: all 700ms ease;
	}
	.item-img {
		overflow: hidden;
		border-radius: 20px;
		img {
			transition: all 500ms ease;
		}
	}
	.log_more_btn {
		top: 50%;
		left: 0;
		right: 0;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		transition: all 700ms ease;
		transform: translateY(-50%) scale(1.4);
	}
	.read-more-btn {
		top: 50%;
		left: 0;
		right: 0;
		width: 190px;
		height: 190px;
		display: flex;
		margin: 0 auto;
		position: absolute;
		align-items: center;
		border-radius: 100%;
		justify-content: center;
		border: 2px dashed #fff;
		transform: translateY(-50%);
		transition: all 500ms ease;
		&:before {
			top: 50%;
			content: '';
			width: 126px;
			height: 126px;
			position: absolute;
			border-radius: 100%;
			border: 2px dashed #fff;
			transform: translateY(-50%);
		}
		&:after {
			top: 50%;
			content: '';
			width: 190px;
			height: 190px;
			position: absolute;
			border-radius: 100%;
			border: 32px solid rgba(255, 255, 255, 0.2);
			transform: translateY(-50%);
		}
		.hover-arrow {
			left: 0;
			top: 50%;
			right: 0;
			color: #fff;
			font-size: 40px;
			position: absolute;
			text-align: center;
			transform: translateY(-50%) rotate(-45deg);
		}
		svg {
			fill: #fff;
			width: 170px;
			height: 170px;
			font-size: 22px;
			font-weight: 600;
			font-family: var(--gt-heading-3);
			animation: spin 10s linear 0s infinite;
			@media #{$xxs} {
				display: none;
			}
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.05);
			}
		}
		.log_more_btn {
			opacity: 1;
			visibility: visible;
			transition-delay: 400ms;
			transform: translateY(-50%) scale(1);
		}
		&:before {
			opacity: 0.7;
		}
	}
}
.filtr-container-area {
	margin: 0px -15px;
	.grid-sizer {
		width: 25%;
	}
	.grid-item {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.grid-item {
		padding: 15px;
	}
	.grid-size-25 {
		width: 25%;
		@media #{$lg,$md,$sm} { 
			width: 50%;
		}
		@media #{$xs} { 
			width: 100%;
		}
	}
	.grid-size-50 {
		width: 50%;
		@media #{$md,$sm,$xs} { 
			width: 100%;
		}
	}

}