.log-service-section-2 {
	overflow: hidden;
}
.log-service-item-2 {
	z-index: 1;
	padding: 50px 50px 100px;
	@media #{$xl,$lg,$md,$sm,$xs} {
		padding: 50px 25px 100px;
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background-size: contain;
		transition: all 800ms ease;
		background-repeat: no-repeat;
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		background-image: url(../img/shape/service-bg.png);
		@media #{$lg,$md,$sm,$xs} {
			background-image: none;
			background-color: var(--log-base-color);
		}
	}
	.item-icon {
		width: 104px;
		height: 104px;
		margin: 0 auto;
		margin-bottom: 20px;
		transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
	}
	.item-text {
		.service_title {
			font-size: 27px;
			font-weight: 800;
			padding-bottom: 10px;
			color: var(--log-title-color);
		}
		p {
			font-size: 18px;
			font-weight: 500;
			transition: all 500ms ease;
		}
	}
	.item-arrow {
		left: 0;
		right: 0;
		opacity: 0;
		bottom: 40px;
		visibility: hidden;
		text-align: center;
		transition: all 600ms ease;
		a {
			width: 48px;
			height: 48px;
			margin: 0 auto;
			border-radius: 100%;
			color: var(--log-base-color);
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 0px 43px 0px rgba(19, 19, 19, 0.08);
		}
	}
	&.active {
		.item-icon {
			transition-delay: 0.7s;
			transform: rotateY(360deg);
		}
		&:before {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		.item-arrow {
			opacity: 1;
			bottom: 10px;
			visibility: visible;
			transition-delay: 400ms;
			@media #{$lg,$md,$sm,$xs} {
				bottom: 30px;
			}
		}
		.item-text {
			p {
				color: #000000;
			}
		}
	}
}