.log-skill-section-2 {
	overflow: hidden;
}
.log-skill-content-2 {
	gap: 30px;
	@media #{$lg,$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.log-skill-img-wrap {
	z-index: 1;
	width: 100%;
	max-width: 660px;
	padding-bottom: 110px;
	@media #{$xxs} {
		text-align: center;
	}
	.item-img-1 {
		overflow: hidden;
		display: inline-block;
		@media #{$xxs} {
			padding-top: 0;
		}
	}
	.item-img-2 {
		top: 0;
		right: 0;
		z-index: -1;
		overflow: hidden;
		@media #{$xxs} {
			margin-top: 30px;
			position: static  !important;
		}
	}
	.item-img-3 {
		right: 85px;
		bottom: 20px;
		overflow: hidden;
		@media #{$lg,$md,$sm} { 
			right: 25px;
		}
		@media #{$xxs} {
			margin-top: 30px;
			position: static  !important;
		}
	}
}
.log-skill-text-wrap {
	width: 100%;
	max-width: 605px;
	.log-skill-wrap-1 {
		padding-top: 0;
	}
}