@keyframes RotateAnim {
	from {
		transform: rotate(-3deg);
	}

	to {
		transform: rotate(3deg);
	}
}
.log-skill-wrap-1 {
	max-width: 650px;
	padding-top: 45px;
	.log-section-title-1 {
		p {
			max-width: 570px;
		}
	}
}
.skill-set-percent {
	width: 100%;
	max-width: 640px;
	margin-bottom: 22px;
	h4 {
		font-size: 16px;
		font-weight: 800;
		padding-bottom: 5px;
		padding-left: 17px;
		color: var(--log-title-color);
	}
	.progress {
		height: 24px;
		border-radius: 0;
		position: relative;
		overflow: visible;
		border-radius: 30px;
		background-color: #ededed;
		span { 
			top: 2px;
			right: 13px;
			font-size: 14px;
			font-weight: 900;
			position: absolute;
			color: var(--log-title-color);
		}
	}
	.progress-bar {
		top: 3px;
		width: 0;
		left: 17px;
		float: left;
		height: 18px;
		position: relative;
		border-radius: 30px;
		background: #057b76;
		transition:  1s all ease-in-out;
	}
}
.log-client-list {
	gap: 15px;
	ul {
		display: flex;
	}
	li {
		color: #fff;
		width: 48px;
		height: 48px;
		display: flex;
		font-size: 14px;
		font-weight: 600;
		overflow: hidden;
		line-height: 38px;
		margin-left: -16px;
		text-align: center;
		border-radius: 100%;
		border: 2px solid #fff;
		background-color: #002966;
		&:nth-child(1) {
			margin-left: 0;
		}
	}
	.client-number-text {
		color: #363539;
		font-size: 18px;
		font-weight: 800;
		max-width: 195px;
	}
}
.log-quote-form-wrap-1 {
	z-index: 1;
	width: 100%;
	padding: 50px;
	max-width: 555px;
	border-radius: 60px;
	background-color: #fff;
	box-shadow: 0px 0px 90px 0px rgba(19, 19, 19, 0.07);
	@media #{$md,$sm,$xs} { 
		padding: 30px 20px;
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		content: '';
		height: 100%;
		position: absolute;
		border-radius: 60px;
		transform: skew(0deg);
		background-color: #015c59;
		transition: all 1200ms ease;
		@media #{$xs} { 
			display: none;
		}
	}
	&.active {
		&:before {
			transform: skew(-3deg);
			transition-delay: 500ms;
		}
	}
	&:after {
		top: 0;
		right: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 100%;
		border-radius: 60px;
		position: absolute;
		background-color: #fff;
	}
	h3 {
		font-size: 38px;
		font-weight: 800;
		text-align: center;
		padding-bottom: 26px;
		color: var(--log-title-color);
		@media #{$md,$sm,$xs} { 
			font-size: 26px;
		}
	}
	label {
		color: #104b59;
		font-size: 16px;
		font-weight: 800;
		padding-left: 8px;
		padding-bottom: 15px;
	}
	.log-distance-range {
		margin-top: 18px;
	}
	.input-field {
		margin-bottom: 6px;
		.inner-icon {
			top: 18px;
			right: 30px;
			color: #808080;
			font-size: 16px;
			position: absolute;
		}
		input {
			width: 100%;
			border: none;
			height: 60px;
			color: #808080;
			font-size: 15px;
			font-weight: 800;
			padding-left: 30px;
			border-radius: 60px;
			background-color: #f3f2f2;
			&::placeholder {
				color: #808080;
				font-size: 15px;
				font-weight: 600;
			}
		}
	}
	.log-quote-select {
		label {
			display: block;
			padding-bottom: 8px;
		}
		.freight-input {
			position: relative;
			&:before {
				top: 19px;
				right: 20px;
				font-size: 15px;
				content: '\f078';
				font-weight: 400;
				position: absolute;
				font-family: 'Font Awesome 5 Pro';
			}
			select {
				width: 100%;
				height: 60px;
				border: none;
				color: #808080;
				font-size: 15px;
				font-weight: 600;
				padding-left: 20px;
				border-radius: 60px;
				-webkit-appearance: none;
				background-color: #f3f2f2;
			}
		}
	}
	button {
		color: #fff;
		width: 100%;
		border: none;
		margin-top: 25px;
		font-size: 16px;
		font-weight: 700;
		padding: 15px 25px;
		border-radius: 40px;
		text-transform: uppercase;
		background-color: #363539;
		transition: all 500ms ease;
		&:hover {
			background-color: var(--log-base-color);
		}

	}
	&.ver_2 {
		box-shadow: none;
		margin-left: 60px;
		background-color: #022538;
		@media #{$lg,$md,$sm,$xs} {
			margin-left: 0;
		}
		@media #{$xxs} {
			border-radius: 20px;
		}
		&:before,
		&:after {
			display: none;
		}
		h3 {
			color: #fff;
		}
		label {
			color: #fff;
		}
	}
}
.log-distance-range {
	label {
		padding-bottom: 0px;
	}
	.wc-input-range {
		margin-left: 8px;
		margin-bottom: 5px;
		span {
			color: #fff;
			display: block;
			font-size: 15px;
			margin-bottom: 10px;
		}
		#slider-range {
			height: 12px;
			width: 300px;
			border:  none;
			border-radius: 30px;
			margin-right: 15px;
			background-color: #057b76;
			.ui-widget-header {
				background-color: #057b76;
			}
			.ui-slider-handle {
				top: -7px;
				width: 24px;
				height: 24px;
				margin-left: 0;
				cursor: pointer;
				margin-bottom: 0;
				border-radius: 100%;
				background-color: #015c59;
				border: 5px solid #015c59;
				&:focus {
					outline: none;
				}
			}
		}
		.range-value {
			input {
				color: #fff;
				width: 110px;
				height: 40px;
				border:  none;
				font-size: 14px;
				font-weight: 800;
				border-radius: 5px;
				padding-left: 15px;
				background-color: var(--log-title-color);
			}
		}
	}
}
.log-skill-quote-wrap-1 {
	gap: 40px 30px;
	flex-wrap: wrap;
	@media #{$lg,$md,$sm,$xs} { 
		justify-content: center !important;
	}
}