.log-slider-section-1 {
	margin: 0 auto;
	max-width: 1920px;
}
.log-nav-arrow-pagination {
	.log-nav-arrow {
		z-index: 1;
		color: #fff;
		cursor: pointer;
		font-size: 36px;
		position: relative;
		&:before {
			top: 5px;
			left: -25px;
			z-index: -1;
			width: 45px;
			content: '';
			height: 45px;
			border-radius: 100%;
			position: absolute;
			background-color: #141414;
			transition: all 500ms ease;
		}
		&.next-arrow {
			&:before {
				left: auto;
				right: -25px;
			}
		}
		&:hover {
			&:before {
				background-color: var(--log-base-color);
			}
		}
	}
	.swiper-pagination-bullet {
		opacity: 1;
		width: 12px;
		height: 12px;
		border-radius: 100%;
		background-color: #fff;
		border: 2px solid #fff;
		margin: 0px 7px !important;
		transition: all 500ms ease;
		&.swiper-pagination-bullet-active {
			background-color: transparent;
		}
	}
	.log-main-pagination {
		line-height: 1;
		margin: 0px 20px;
	}
}
.log-main-slider-nav-pagition {
	z-index: 2;
	right: 130px;
	bottom: 40px;
	@media #{$xs} {
		left: 0;
		right: 0;
		width: 120px;
		margin: 0 auto;
		.swiper-pagination-bullet {
			display: none;
		}
	}
}
.log-main-slider-item-1 {
	overflow: hidden;
	z-index: 1;
	.log-slider-side-img {
		top: 0;
		opacity: 0;
		z-index: -1;
		right: -150px;
		visibility: hidden;
	}
	.log-main-slider-content {
		padding: 375px 0px 125px;
		@media #{$sm,$xs} {
			padding: 250px 0px 150px;
		}
		@media #{$xxs} {
			padding: 220px 0px 150px;
		}
		.log-main-slider-img {
			bottom: 0;
			opacity: 0;
			right: -65px;
			visibility: hidden;
			@media #{$xs} { 
				display: none;
			}
		}
	}
	.log-main-slider-text {
		z-index: 2;
		max-width: 650px;
		position: relative;
		@media #{$md,$sm,$xs} {
			max-width: 550px;
		}
		@media #{$xxs} {
			text-align: center;
		}
		.slider-slug {
			opacity: 0;
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			padding: 8px 25px;
			visibility: hidden;
			border-radius: 40px;
			margin-bottom: 14px;
			display: inline-block;
			background-color: #15375f;
			transform: translateY(-20px);
		}
		.slider_title {
			color: #fff;
			font-size: 80px;
			font-weight: 800;
			line-height: 1.25;
			padding-bottom: 15px;
			@media #{$xxs} {
				text-align: center;
			}
			.split-line {
				opacity: 0;
				visibility: hidden;
				clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			}
			@media #{$md,$sm} {
				font-size: 65px;
			}
			@media #{$xs} {
				font-size: 55px;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
		}
		p {
			opacity: 0;
			color: #fff;
			font-size: 20px;
			max-width: 615px;
			visibility: hidden;
			padding-left: 27px;
			position: relative;
			margin-bottom: 55px;
			transform: translateX(40px);
			@media #{$md,$sm,$xs} {
				font-size: 18px;
			}
			@media #{$sm,$xs} { 
				margin-bottom: 30px;
			}
			@media #{$xxs} {
				padding-left: 0;
				font-size: 16px;
				&:before {
					display: none;
				}
			}
			&:before {
				top: 0;
				left: 0;
				width: 6px;
				content: '';
				height: 0%;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				border-radius: 40px;
				transition: all 1500ms ease;
				background-color: var(--log-base-color);
			}
			a {
				text-decoration: underline;
			}
		}
		.log-btn-1 {
			transform: scaleY(0);
			transform-origin: bottom;
		}
	}
}
.swiper-slide-active {
	.log-main-slider-item-1 {
		.log-slider-side-img {
			right: 0px;
			opacity: 1;
			visibility: visible;
			transition: all 1500ms ease;
			transition-delay: 700ms;
		}
		.log-main-slider-content {
			.log-main-slider-img  {
				opacity: 1;
				right: 65px;
				visibility: visible;
				transition: all 1500ms ease;
				@media #{$lg,$md,$sm,$xs} {
					right: -180px;
				}
			}
		}
		.log-main-slider-text {
			.slider-slug {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				transition: all 1500ms ease;
				transition-delay: 300ms;
			}
			.slider_title {
				.split-line {
					opacity: 1;
					visibility: visible;
					transition: all 1500ms ease;
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
					&:nth-child(1) {
						transition-delay: 500ms;
					}
					&:nth-child(2) {
						transition-delay: 1000ms;
					}
					&:nth-child(3) {
						transition-delay: 1200ms;
					}
				}
			}
			p {
				opacity: 1;
				visibility: visible;
				transition: all 1500ms ease;
				transform: translateX(0px);
				transition-delay: 1500ms;
				&:before {
					opacity: 1;
					height: 100%;
					visibility: visible;
					transition-delay: 1700ms;
				}
			}
			.log-btn-1 {
				transform: scale(1);
				transition: all 800ms ease;
				transition-delay: 1800ms;
			}
		}
	}
}