/* 
    laa-button-start
*/

/* 
    mobile-menu-btn-1-start
*/
.laa-menu-btn-1 {
    width: 25px;
    height: 25px;
    flex: 0 0 auto;
    border: none;
    outline: none;
    background: transparent;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    gap: 5px;
    transition: all .5s var(--laa-cube-1);

    span {
        display: inline-block;
        flex: 0 0 auto;
        width: 5px;
        height: 5px;
        background: var(--laa-clr-h1);
        border-radius: 50%;
        transition: all .5s  var(--laa-cube-1);
    }

    &:hover {
        background: var(--fx-clr-sd-1);
        span {
            background-color: var(--laa-clr-sd-1);
            &:nth-child(1) {
                transform: translate(10px, 0px);
            }

            &:nth-child(3) {
                transform: translate(0px, 10px);
            }

            &:nth-child(7) {
                transform: translate(0px, -10px);
            }

            &:nth-child(9) {
                transform: translate(-10px, 0px);
            }
        }
    }
}

/* 
    laa-search-btn
*/
.laa-search-btn {
    font-family: var(--laa-p-font-1);
    border: none;
    outline: none;
    background: transparent;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255 255 255 / 48%);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 20px;
    padding-right: 96px;
    border-right: 1px solid rgba(255, 255, 255, 0.24);
    border-left: 1px solid rgba(255, 255, 255, 0.24);
    transition: all .5s  var(--laa-cube-1);

    i {
        transition: .5s  var(--laa-cube-1);
        color: var(--laa-clr-pr-1);
    }

    &:hover {
        color: var(--laa-clr-pr-1);
        border-color: var(--laa-clr-pr-1);

        i {
            transform: translateX(3px);
        }
    }
}


/* 
    lang-switch-btn
*/
.laa-lang-switch {
    position: relative;
    display: inline-block;

    
    .check-toggle {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    .check-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    input.check-toggle-round-flat + label {
        padding: 2px;
        width: 72px;
        height: 24px;
        background-color: #fff;
        border-radius: 6px;
    }

    input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
        display: block;
        position: absolute;
        content: "";
    }
  
    input.check-toggle-round-flat + label:before {
        top: 2px;
        left: 2px;
        bottom: 2px;
        right: 2px;
    }

    input.check-toggle-round-flat + label:after {
        top: 2px;
        left: 2px;
        bottom: 2px;    
        width: 34px;
        height: 20px;
        background-color: var(--laa-clr-sd-1);
        border-radius: 4px;
        -webkit-transition: margin 0.2s;
        -moz-transition: margin 0.2s;
        -o-transition: margin 0.2s;
        transition: margin 0.2s;
    }
  
    input.check-toggle-round-flat:checked + label:after {
        margin-left: 34px;
    }

    input.check-toggle-round-flat:checked ~ .off {
        color: #fff;
    }
    
    input.check-toggle-round-flat:checked ~ .on {
        color: var(--laa-clr-h1);
    }
  
    span {
        position: absolute;
        top: 14px;
        pointer-events: none;
        font-family: var(--laa-h-font-1);
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        width: 50%;
        text-align: center;
        top: 0;
        line-height: 24px;
        transition: .3s ease-in-out;
    }

    .on {
        left: 0;
        color: #fff;
    }

    .off {
        right: 0;
        color: var(--laa-clr-h1);
    }
        
}
  

/* 
    pr-btn-1-start
*/

.laa-pr-btn-1 {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    display: inline-flex;
    flex: 0 0 auto;
    font-family: var(--laa-h-font-1);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1;
    background: transparent;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s var(--laa-cube-1);
    gap: 12px;
    position: relative;
    z-index: 1;

    svg {
        position: absolute;
        right: 29px;
        top: 0px;
        z-index: -1;
        transition: all .5s var(--laa-cube-1);

        * {
            fill: var(--laa-clr-h1);
        }
    }


    &-left {
        background: var(--laa-clr-h1);
        border-radius: 16px;
        padding: 21px 28px;
        padding-right: 24px;
        transition: all .5s var(--laa-cube-1);
    }

    &-right {
        flex: 0 0 auto;
        border: 4px solid var(--laa-clr-h1);
        border-radius: 16px;
        width: 56px;
        height: 57px;
        background: #fff;
        color: var(--laa-clr-h1);
        overflow: hidden;
        transition: all .5s var(--laa-cube-1);
    }

    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;
        line-height: 1;
        margin-bottom: -2px;

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: all .5s  var(--laa-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
            color: #fff;
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: all .5s  var(--laa-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
            color: #fff;
        }
    }

    .icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        transition: all .5s  var(--laa-cube-1);

        i {
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            position: absolute;
            transition: all .5s  var(--laa-cube-1);

            &:nth-child(1) {
                left: -20%;
            }
        }
    }

    &:hover {
        color: inherit;

        .laa-pr-btn-1-left {
            background: var(--laa-clr-sd-1);
        }

        .laa-pr-btn-1-right {
            border-color: var(--laa-clr-sd-1);
        }
        svg {
            transform: scaleY(0);
        }
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }

        .icon {
            i {
                &:nth-child(1) {
                    left: 50%;
                }
                &:nth-child(2) {
                    left: 110%;
                }
            }
        }
    }


    &:is(.has-white) {

        .laa-pr-btn-1-left {
            background: #fff;
        }

        .laa-pr-btn-1-right {
            border-color: #fff;
            .icon {
                background: var(--laa-clr-h1);
                color: #fff;
            }
        }

        .text::before {
            color: var(--laa-clr-h1);
        }

        svg {
            * {
                fill: #fff;
            }
        }

        &:hover {
            .laa-pr-btn-1-left {
                background: var(--laa-clr-sd-1);
            }

            .laa-pr-btn-1-right {
                border-color: var(--laa-clr-sd-1);

                .icon {
                    background: #fff;
                    color: var(--laa-clr-h1);
                }
            }
        }
    }

    &:is(.has-header) {

        .laa-pr-btn-1-left {
            padding: 15px 22px;
            padding-right: 14px;
            background: var(--laa-clr-sd-1);
        }

        .laa-pr-btn-1-right {
            border-color: var(--laa-clr-sd-1);
            .icon {
                background: #fff;
                color: var(--laa-clr-sd-1);
                width: 36px;
                height: 38px;
            }
        }

        svg {
            right: 30px;
            top: 1px;

            * {
                fill: var(--laa-clr-sd-1);
            }
        }

        &:hover {
            .laa-pr-btn-1-left {
                background: var(--laa-clr-h1);
            }

            .laa-pr-btn-1-right {
                border-color: var(--laa-clr-h1);
                .icon {
                    color: var(--laa-clr-h1);
                }
            }
        }

    }

    &:is(.has-form) {

        .laa-pr-btn-1-left {
            padding: 15px 22px;
            padding-right: 14px;
        }

        .laa-pr-btn-1-right {
            .icon {
                width: 36px;
                height: 38px;
            }
        }

        svg {
            right: 30px;
            top: 1px;

            * {
                fill: var(--laa-clr-h1);
            }
        }


    }

    &:is(.has-red-white) {

        .laa-pr-btn-1-left {
            background: var(--laa-clr-sd-1);
        }

        .laa-pr-btn-1-right {
            border-color: var(--laa-clr-sd-1);

            .icon {
                color: var(--laa-clr-sd-1);
            }
        }

        svg {

            * {
                fill: var(--laa-clr-sd-1);
            }
        }

        &:hover {

            .text {
                &::after {
                    color: var(--laa-clr-h1);
                }
            }
            .laa-pr-btn-1-left {
                background: #fff;
            }
            .laa-pr-btn-1-right {
                border-color: #fff;

                .icon {
                    background: var(--laa-clr-sd-1);
                    color: #fff;
                }
            }
        }
    }

}  


/* 
    laa-circle-progress
*/

.laa-progress-btn {
    width: 64px;
    display: inline-block;
    height: 64px;
    position: relative;
    z-index: 1;

    &-circle {
        width: 64px;
        height: 64px;

        circle {

            &:nth-child(1) {
                r: 30;
                cx: 32;
                cy: 32;
                fill: transparent;
                stroke: var(--laa-clr-sd-1);
                stroke-width: 2px;
                stroke-dasharray: 200px;
                stroke-dashoffset: 0;
                opacity: 16%;
            }

            &:nth-child(2) {
                r: 30;
                cx: 32;
                cy: 32;
                fill: transparent;
                stroke: var(--laa-clr-sd-1);
                stroke-width: 4px;
                stroke-dasharray: 200px;
                stroke-dashoffset: 200px;
            }


        }
    }

    &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        transition: all .5s var(--laa-cube-1);
    }

    &:hover {
        .laa-progress-btn-icon {
            top: 45%;
            left: 55%;
        }
    }
}


/* 
    laa-paly-btn-1
*/
.laa-play-btn-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: var(--laa-h-font-1);
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s var(--laa-cube-1);
    background: rgb(255 255 255 / 24%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 16px 24px;


    &:visited {
        color: #fff;
    }

    &:hover {
        transform: translateX(3px);
        background: var(--laa-clr-sd-1);
        i {
            animation: unset;
        }
    }

}













/* 
    mobile-menu-btn-1-end 
*/

/* 
    pr-btn-1-end
*/
/* 
    search-btn-1-start
*/

.fx-search-btn-1 {
    font-family: var(--fx-font-pr-1);
    text-transform: capitalize;
    color: rgb(0 0 0 / 40%);
    font-size: 16px;
    background: transparent;
    padding: 0;
    transition: all .4s var(--cube-1);
    flex: 0 0 auto;

    i {
        color: #000;
        margin-right: 5px;
        transition: all .4s var(--cube-1);
    }

    &:hover {
        color: var(--fx-clr-pr-1);
        transform: translateX(-3px);

        i {
            color: var(--fx-clr-pr-1);
        }
    }
}

/* 
    search-btn-1-end
*/

/* 
    playbtn-1-start
*/
.fx-play-btn-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: var(--fx-font-pr-1);
    text-transform: capitalize;
    font-weight: 500;
    color: var(--fx-clr-pr-1);
    transition: all .4s var(--cube-1);

    i {
        display: inline-block;
        font-size: 30px;
        font-weight: 300;
        transition: .2s ;
        animation: fd-bounce-2 1.5s  infinite;
        
    }

    &:hover {
        transform: translateX(3px);
        color: var(--fx-clr-sd-1);
        i {
            animation: unset;
        }
    }

    &:is(.has-hover-white) {
        &:hover {
            color: #fff;
        }
    }
}

/* 
    playbtn-1-end
*/

/* 
    playbtn-2-start
*/

.fx-playbtn-2 {
    display: flex;
    flex: 0 0 auto;
    width: 120px;
    height: 120px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    color: var(--fx-clr-pr-1);
    position: relative;
    z-index: 1;
    transition: all .3s var(--cube-1);


    @media #{$md,$xs} {
        width: 70px;
        height: 70px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgb(255 255 255 / 40%);
        z-index: -1;
        transform: scale(1.3);
        animation: fx-scaling 6s linear infinite;
        animation-delay: 3s;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgb(255 255 255 / 30%);
        z-index: -1;
        transform: scale(1.6);
        animation: fx-scaling 6s linear infinite;
    }
}


/* 
    playbtn-2-end
*/



/* 
    land-btn-1-start
*/
.fx-land-1-btn {
    border-radius: 0;
    border: none;
    font-family: var(--fx-font-pr-1);
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding-left: 0;
    line-height: 1;
    padding-right: 17px;
    height: auto;

    &::after {
        width: 7px;
        height: 7px;
        border-color: var(--fx-clr-pr-2);
        right: 2px;
        margin-top: -6px;
    }

    .current {
        transition: all .3s ease-in-out;
    }


    &:hover {
        .current {
            color: var(--fx-clr-pr-2);
        }
    }

    .list {
        li {
            &:is(.selected) {
                color: var(--fx-clr-pr-2);
            }
        }
    }

}


/* 
    land-btn-1-end
*/


/* 
    button-button-end
*/