/* 
    components-start
*/


// .laa-home {
//     position: relative;

//     &::after {
//         content: "";
//         width: 100%;
//         height: 100vh;
//         background-image: url(../imgs/bg/body-bg2.png);
//         background-attachment: fixed;
//         top: 0;
//         left: 0;
//         background-size: cover;
//         background-repeat: no-repeat;
//         position: absolute;
//         background-position: center center;
//     }
// }

.laa-scn-margin {
    margin-left: 20px;
    margin-right: 20px;

    @media #{$xs} {
        margin-left: 10px;
        margin-right: 10px;
    }
}


.laa-left-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    flex:  0 0 auto;
    background: rgb(255 255 255 / 20%);
    border-radius: 8px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: rgb(255 255 255 / 32%);
    font-size: 25px;
    position: relative;
    z-index: 1;
    transition: .5s var(--laa-cube-1);
    cursor: pointer;

    @media #{$md,$xs} {
        width: 50px;
        height: 50px;
    }

    svg {
        width: 35px;
        height: 35px;
        opacity: 32%;
        transition: .5s var(--laa-cube-1);

        path {
            transition: .5s var(--laa-cube-1);
            stroke: #fff;
        }
    }

    .line {
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 3px;
        transition: 0.3s ease-in-out;
        top: 48%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: rgb(255 255 255 / 32%);
        transform-origin: left;
        border-radius: 3px;
    }

    &:hover {
        background: rgb(255 255 255 / 80%);
        svg {
            transform: translateX(-5.5px);
            opacity: 100%;
            path {
                stroke: var(--laa-clr-h1);
            }
        }
        .line {
            width: 25px;
            left: 55%;
            background: var(--laa-clr-h1);
        }
    }
}

.laa-right-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    flex:  0 0 auto;
    background: rgb(255 255 255 / 20%);
    border-radius: 8px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: rgb(255 255 255 / 32%);
    font-size: 25px;
    position: relative;
    z-index: 1;
    transition: .5s var(--laa-cube-1);
    cursor: pointer;

    @media #{$md,$xs} {
        width: 50px;
        height: 50px;
    }

    svg {
        width: 35px;
        height: 35px;
        opacity: 32%;
        transition: .5s var(--laa-cube-1);

        path {
            transition: .5s var(--laa-cube-1);
            stroke: #fff;
        }
    }

    .line {
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 3px;
        transition: .5s var(--laa-cube-1);
        top: 48%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: rgb(255 255 255 / 32%);
        transform-origin: right;
        border-radius: 3px;
    }

    &:hover {
        background: rgb(255 255 255 / 80%);
        svg {
            transform: translateX(5.5px);
            opacity: 100%;
            path {
                stroke: var(--laa-clr-h1);
            }
        }
        .line {
            width: 25px;
            left: 45%;
            background: var(--laa-clr-h1);
        }
    }
}


.laa-left-btn-2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex:  0 0 auto;
    background: rgb(255 255 255 / 40%);
    border-radius: 50%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: relative;
    z-index: 1;
    transition: .5s var(--laa-cube-1);
    cursor: pointer;

    @media #{$md,$xs} {
        width: 50px;
        height: 50px;
    }

    svg {
        opacity: 50%;
        transition: .5s var(--laa-cube-1);

        path {
            transition: .5s var(--laa-cube-1);
        }
    }

    .line {
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 2px;
        transition: 0.3s ease-in-out;
        top: 49%;
        left: 45%;
        transform: translate(-50% , -50%);
        background-color: rgb(255 255 255 / 32%);
        transform-origin: left;
        border-radius: 3px;
    }

    &:hover {
        background: rgb(255 255 255 / 100%);
        svg {
            transform: translateX(-5.5px);
            opacity: 100%;

        }
        .line {
            width: 17px;
            left: 55%;
            background: var(--laa-clr-sd-1);
        }
    }
}

.laa-right-btn-2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex:  0 0 auto;
    background: rgb(255 255 255 / 40%);
    border-radius: 50%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: relative;
    z-index: 1;
    transition: .5s var(--laa-cube-1);
    cursor: pointer;

    @media #{$md,$xs} {
        width: 50px;
        height: 50px;
    }

    svg {
        opacity: 50%;
        transition: .5s var(--laa-cube-1);

        path {
            transition: .5s var(--laa-cube-1);
        }
    }

    .line {
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 2px;
        transition: 0.3s ease-in-out;
        top: 49%;
        left: 55%;
        transform: translate(-50% , -50%);
        background-color: rgb(255 255 255 / 32%);
        transform-origin: right;
        border-radius: 3px;
    }

    &:hover {
        background: rgb(255 255 255 / 100%);
        svg {
            transform: translateX(5.5px);
            opacity: 100%;

        }
        .line {
            width: 17px;
            left: 45%;
            background: var(--laa-clr-sd-1);
        }
    }
}




/* 
    contact-list-start
*/

.fx-contact-list {
    display: flex;
    align-items: center;
    gap: 20px;

    @media #{$xs} {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }

    li {
        font-family: var(--fx-font-pr-1);
        color: #fff;
        font-size: 14px;
        line-height: 2.6;
        padding-right: 20px;
        border-right: 1px solid rgb(255 255 255 / 16%);
        transition: all .5s var(--cube-1);

        @media #{$md,$xs} {
            border-right: none;
        }

        i {
            margin-right: 4px;
        }

        a {
            transition: all .5s var(--cube-1);

            &:hover {
                color: var(--fx-clr-pr-1);
                transform: translateX(3px);
            }
        }
        
    }
}

/* 
    contact-list-end
*/

/* 
    social-list-start
*/
.fx-social-icon {
    display: flex;
    align-items: center;

    &-btn {
        font-size: 14px;
        color: #fff;
        padding: 2px 15px;
        flex: 0 0 auto;
        border-left: 1px solid rgb(255 255 255 / 16%);
        transition: all .3s var(--cube-1);

        @media #{$md,$xs} {
            border-left: none;
        }

        &:hover {
            background-color: var(--fx-clr-pr-1) ;
          
        }

        &:nth-child(1) {
            &:hover {
                border-color: transparent;
                background: #1974EC;
                color: #fff;
            }
        }

        &:nth-child(2) {
            &:hover {
                border-color: transparent;
                background: #0077B5 ;
                color: #fff;
            }
        }

        &:nth-child(3) {
            &:hover {
                border-color: transparent;
                background: #1C9CEA;
                color: #fff;
            }
        }

        &:nth-child(4) {
            &:hover {
                border-color: transparent;
                background: #CE36A6;
                color: #fff;
            }
        }
    }
}

/* 
    social-list-end
*/

/* 
    social-list-2-start
*/
.fx-social-icon-2 {
    display: flex;
    flex-direction: column;
    background: var(--fx-clr-sd-2);
    border-radius: 8px;
    gap: 27px;
    padding: 16px 11px;
    align-items: center;

    &-btn {
        padding: 0;
        color: #000;
        font-size: 16px;
        line-height: 1;
        transition: all .4s var(--cube-1);
        position: relative;
        z-index: 1;


        &:not(:last-child) {
            &::after {
                content: "";
                width: 1px;
                height: 8px;
                background: #000;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 28px;
            }
        }


        &:hover {
            color: var(--fx-clr-pr-1);
            background: transparent;
            transform: scale(120%);
        }
    }
}

/* 
    social-list-2-end
*/

/* 
    fx-gap-start
*/
.fx-gap-12 {
    display: block;
    height: 12px;
}


.fx-gap-16 {
    display: block;
    height: 16px;
}

.fx-gap-60 {
    display: block;
    height: 60px;
}

.has-h5-redius {
    border-radius: 0 0 56px 56px;

    @media #{$xs} {
        border-radius: 0 0 10px 10px;
    }

    @media #{$sm} {
        border-radius: 0 0 20px 20px;
    }
}
/* 
    fx-gap-end
*/
/* 
    slider-pagination-1-start
*/
.fx-slider-pagi-1 {
    display: flex;
    justify-content: center;
    gap: 20px;

    span {
        width: 6px;
        height: 6px;
        background: rgb(0 0 0 / 32%);
        opacity: 1;
        flex: 0 0 auto;
        margin: 0 !important;
        padding: 0;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid var(--fx-clr-pr-1);
            background: transparent;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            opacity: 0;
            transition: all .3s var(--cube-1);
        }

        &:is(.swiper-pagination-bullet-active) {
            background: var(--fx-clr-pr-1);
            &::after {
                opacity: 1;
            }
        }
    }
}
/* 
    slider-pagination-1-end
*/
/* 
    slider-btn-1-start
*/
.fx-slider-btn-1-item {
    display: inline-flex;
    flex: 0 0 auto;
    width: 54px;
    height: 54px;
    background: rgb(255 255 255 / 16%);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    cursor: pointer;
    overflow: hidden;
    transition: all .4s var(--cube-1);

    i {
        color: #fff;
        position: absolute;
        transition: all .4s var(--cube-1);

        &:last-child {
            transform: translateX(35px);
        }
    
    }

    &:hover {
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        background: rgb(252 82 32 / 70%);
        i {
            &:first-child {
                transform: translateX(-35px);
            }
            &:last-child {
                transform: translateX(0px);
            }
        }
    }

    &:last-child {
        i {
            &:last-child {
                transform: translateX(-35px);
            }
        }

        &:hover {
            i {
                &:first-child {
                    transform: translateX(35px);
                }
                &:last-child {
                    transform: translateX(0px);
                }
            }
        }
    }
}
/* 
    slider-btn-1-end
*/
/* 
    slider-btn-2-start
*/
.fx-slider-btn-2 {
    display: inline-flex;
    gap: 20px;
    align-items: center;

    &-item {
        font-size: 14px;
        color: #000;
        display: flex;
        align-items: center;
        gap: 13px;
        opacity: 40%;
        flex: 0 0 auto;
        transition: all .3s var(--cube-1);
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 4px;

        i {
            font-size: 18px;
        }

        &:hover {
            color: var(--fx-clr-pr-1);
            opacity: 100%;
            transform: translateY(3px);
        }
    }
}


/* 
    slider-btn-2-end
*/
/* 
    slider-scrollbar-1-start
*/
.fx-slider-scrollbar-1 {
    width: 300px;
    flex: 0 0 auto;
    max-width: 300px;
    background: #eeeeee;
    height: 2px;

    .swiper-scrollbar-drag {
        background: var(--fx-clr-pr-1);
    }
}

/* 
    slider-bscrollbar-1-end
*/

/* 
    rating-start-1-start
*/
.fx-star-1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    gap: 8px;
    color: #FC5220;
}
/* 
    rating-start-1-end
*/

/* 
    components-end
*/