.log-category-content {
	margin: 0px -10px;
	li {
		margin: 10px;
	}
}
.log-category-item {
	gap: 24px;
	width: 307px;
	height: 150px;
	padding: 15px;
	border-radius: 30px;
	transition: all 500ms ease;
	border: 2px solid #c3d0d8;
	@media #{$xxs} { 
		width: 285px;
	}
	&:hover {
		border: 2px solid var(--log-base-color-2);
		box-shadow: 0 10px 0 0 var(--log-base-color-2);
	}
	.item-icon {
		width: 65px;
		height: 65px;
		transition: all 500ms ease;
	}
	.item-text {
		text-align: left;
		span {
			color: #003757;
			font-size: 11px;
			font-weight: 700;
			padding: 4px 13px;
			border-radius: 20px;
			margin-bottom: 5px;
			display: inline-block;
			background-color: #e1f4ff;
		}
		h3 {
			font-size: 25px;
			font-weight: 800;
			color: var(--log-title-color);
		}
	}
	&:hover {
		.item-icon {
			transform: scale(-1) rotate(180deg);
		}
	}
}
.log-bottom-text-btn {
	a {
		font-weight: 800;
		color: var(--log-title-color);
		i {
			margin-left: 8px;
			color: var(--log-base-color-2);
		}
		&:hover {
			color: var(--log-base-color);
		}
	}
}