.log-video-play-section-6 {
	z-index: 1;
	overflow: hidden;
	margin-top: -190px;
	padding: 250px 0px 130px;
	@media #{$md,$sm,$xs} {
		margin-top: 0;
		padding-top: 120px;
	}
	.section-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.log-video-play-content-6 {
	@media #{$md,$sm,$xs} { 
		display:  block !important;
	}
	.video-play {
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		a {
			width: 100%;
			display: flex;
		}
		@media #{$md,$sm,$xs} {
			top: 0;
			display: inline-block;
			position: relative !important;
			transform: translateY(0)  !important;
		}
	}
	.log-video-play-text-6 {
		max-width: 580px;
		@media #{$md,$sm,$xs} { 
			padding-top: 30px;
		}
	}
}