.log-why-choose-section-6 {
	overflow: hidden;
	.log-section-title-5 {
		margin: 0 auto;
		max-width: 695px;
	}
}
.log-wc-item-6 {
	max-width: 352px;
	padding: 20px 25px;
	border-radius: 20px;
	margin-bottom: 110px;
	background-color: #393939;
	@media #{$md,$sm,$xs} {
		max-width: 100%;
		margin-bottom: 30px;
		padding: 30px 25px;
	}
	.item-icon {
		margin-bottom: 10px;
		i {
			font-size: 46px;
			color: var(--log-base-color);
		}
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 10px;
		}
		p {
			font-size: 16px;
		}
	}
}
.log-why-choose-item-content-1 {
	.wc-item-wrap {
		.log-wc-item-6 {
			&:nth-child(1) {
				transform: translateX(144px);
				@media #{$lg,$md,$sm,$xs} { 
					transform: translateX(0px);
				}
			}
			&:nth-child(3) {
				transform: translateX(190px) translateY(85px);
				@media #{$lg,$md,$sm,$xs} { 
					transform: translateX(0px);
				}
			}
		}
	}
}
.log-why-choose-item-content-2 {
	.wc-item-wrap {
		.log-wc-item-6 {
			&:nth-child(1) {
				transform: translateX(-250px) translateY(-20px);
				@media #{$lg,$md,$sm,$xs} { 
					transform: translateX(0px);
				}
			}
			&:nth-child(3) {
				transform: translateX(-155px) translateY(80px);
				@media #{$lg,$md,$sm,$xs} { 
					transform: translateX(0px);
				}
			}
		}
	}
}
.log-why-choose-content-6 {
	z-index: 1;
	.log-why-circle-img {
		left: 0;
		right: 0;
		top: 47%;
		z-index: -1;
		margin: 0 auto;
		text-align: center;
		transform: translateY(-50%);
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
}