/* 
    laa-css-start
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* 
  	laa-veriable
  */
  --laa-h-font-1: "Inter", sans-serif;
  --laa-p-font-1: "Inter", sans-serif;
  --laa-clr-pr-1: #27AAE2;
  --laa-clr-sd-1: #F62459;
  --laa-clr-h1: #1A2D4E;
  --laa-clr-p1: #222222;
}

/* Responsive Variables start */
/* Responsive Variables end */
/* 
    laa-common-css-start
*/
@media (min-width: 1400px) {
  .container.laa-container-1 {
    max-width: 1344px;
  }
}
.fix {
  overflow: hidden;
}

.img-cover img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.bg-default {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flaticon {
  display: inline-block;
  line-height: 0.65;
}

.z-index-3 {
  position: relative;
  z-index: 3;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
  z-index: 1;
}

.laa-font-400 {
  font-weight: 400;
}

.laa-font-500 {
  font-weight: 500;
}

.laa-font-600 {
  font-weight: 600;
}

.laa-font-700 {
  font-weight: 700;
}

.laa-font-800 {
  font-weight: 800;
}

.laa-font-900 {
  font-weight: 900;
}

.laa-h-font-1 {
  font-family: var(--laa-h-font-1);
}

.laa-p-font-1 {
  font-family: var(--laa-p-font-1);
}

.laa-ml-auto {
  margin-left: auto;
}

.laa-mr-auto {
  margin-right: auto;
}

.line-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.line-limit:is(.has-line-1) {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.line-limit:is(.has-line-2) {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.line-limit:is(.has-line-3) {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.line-limit:is(.has-line-4) {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.line-limit:is(.has-line-5) {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
.line-limit:is(.has-line-6) {
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
.line-limit:is(.has-line-7) {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
.line-limit:is(.has-line-8) {
  -webkit-line-clamp: 8;
  line-clamp: 8;
}
.line-limit:is(.has-line-9) {
  -webkit-line-clamp: 9;
  line-clamp: 9;
}
.line-limit:is(.has-line-10) {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

/* 
    laa-common-css-end
*/
/* 
    components-start
*/
.laa-scn-margin {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .laa-scn-margin {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.laa-hero-1-slider-btn {
  position: absolute;
  bottom: 4px;
  width: 100%;
  left: 0px;
  z-index: 1;
}

.laa-left-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  flex: 0 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: rgba(255, 255, 255, 0.32);
  font-size: 25px;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-left-btn {
    width: 50px;
    height: 50px;
  }
}
.laa-left-btn svg {
  width: 35px;
  height: 35px;
  opacity: 32%;
  transition: 0.3s ease-in-out;
}
.laa-left-btn svg path {
  transition: 0.3s ease-in-out;
  stroke: #fff;
}
.laa-left-btn .line {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 3px;
  transition: 0.3s ease-in-out;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.32);
  transform-origin: left;
  border-radius: 3px;
}
.laa-left-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}
.laa-left-btn:hover svg {
  transform: translateX(-5.5px);
  opacity: 100%;
}
.laa-left-btn:hover svg path {
  stroke: var(--laa-clr-h1);
}
.laa-left-btn:hover .line {
  width: 25px;
  left: 55%;
  background: var(--laa-clr-h1);
}

.laa-right-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  flex: 0 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: rgba(255, 255, 255, 0.32);
  font-size: 25px;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-right-btn {
    width: 50px;
    height: 50px;
  }
}
.laa-right-btn svg {
  width: 35px;
  height: 35px;
  opacity: 32%;
  transition: 0.3s ease-in-out;
}
.laa-right-btn svg path {
  transition: 0.3s ease-in-out;
  stroke: #fff;
}
.laa-right-btn .line {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 3px;
  transition: 0.3s ease-in-out;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.32);
  transform-origin: right;
  border-radius: 3px;
}
.laa-right-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}
.laa-right-btn:hover svg {
  transform: translateX(5.5px);
  opacity: 100%;
}
.laa-right-btn:hover svg path {
  stroke: var(--laa-clr-h1);
}
.laa-right-btn:hover .line {
  width: 25px;
  left: 45%;
  background: var(--laa-clr-h1);
}

/* 
    contact-list-start
*/
.fx-contact-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .fx-contact-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}
.fx-contact-list li {
  font-family: var(--fx-font-pr-1);
  color: #fff;
  font-size: 14px;
  line-height: 2.6;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  transition: all 0.5s var(--cube-1);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .fx-contact-list li {
    border-right: none;
  }
}
.fx-contact-list li i {
  margin-right: 4px;
}
.fx-contact-list li a {
  transition: all 0.5s var(--cube-1);
}
.fx-contact-list li a:hover {
  color: var(--fx-clr-pr-1);
  transform: translateX(3px);
}

/* 
    contact-list-end
*/
/* 
    social-list-start
*/
.fx-social-icon {
  display: flex;
  align-items: center;
}
.fx-social-icon-btn {
  font-size: 14px;
  color: #fff;
  padding: 2px 15px;
  flex: 0 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.16);
  transition: all 0.3s var(--cube-1);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .fx-social-icon-btn {
    border-left: none;
  }
}
.fx-social-icon-btn:hover {
  background-color: var(--fx-clr-pr-1);
}
.fx-social-icon-btn:nth-child(1):hover {
  border-color: transparent;
  background: #1974EC;
  color: #fff;
}
.fx-social-icon-btn:nth-child(2):hover {
  border-color: transparent;
  background: #0077B5;
  color: #fff;
}
.fx-social-icon-btn:nth-child(3):hover {
  border-color: transparent;
  background: #1C9CEA;
  color: #fff;
}
.fx-social-icon-btn:nth-child(4):hover {
  border-color: transparent;
  background: #CE36A6;
  color: #fff;
}

/* 
    social-list-end
*/
/* 
    social-list-2-start
*/
.fx-social-icon-2 {
  display: flex;
  flex-direction: column;
  background: var(--fx-clr-sd-2);
  border-radius: 8px;
  gap: 27px;
  padding: 16px 11px;
  align-items: center;
}
.fx-social-icon-2-btn {
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 1;
  transition: all 0.4s var(--cube-1);
  position: relative;
  z-index: 1;
}
.fx-social-icon-2-btn:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 8px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 28px;
}
.fx-social-icon-2-btn:hover {
  color: var(--fx-clr-pr-1);
  background: transparent;
  transform: scale(120%);
}

/* 
    social-list-2-end
*/
/* 
    fx-gap-start
*/
.fx-gap-12 {
  display: block;
  height: 12px;
}

.fx-gap-16 {
  display: block;
  height: 16px;
}

.fx-gap-60 {
  display: block;
  height: 60px;
}

.has-h5-redius {
  border-radius: 0 0 56px 56px;
}
@media (max-width: 767px) {
  .has-h5-redius {
    border-radius: 0 0 10px 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .has-h5-redius {
    border-radius: 0 0 20px 20px;
  }
}

/* 
    fx-gap-end
*/
/* 
    slider-pagination-1-start
*/
.fx-slider-pagi-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fx-slider-pagi-1 span {
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.32);
  opacity: 1;
  flex: 0 0 auto;
  margin: 0 !important;
  padding: 0;
  position: relative;
}
.fx-slider-pagi-1 span::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--fx-clr-pr-1);
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s var(--cube-1);
}
.fx-slider-pagi-1 span:is(.swiper-pagination-bullet-active) {
  background: var(--fx-clr-pr-1);
}
.fx-slider-pagi-1 span:is(.swiper-pagination-bullet-active)::after {
  opacity: 1;
}

/* 
    slider-pagination-1-end
*/
/* 
    slider-btn-1-start
*/
.fx-slider-btn-1-item {
  display: inline-flex;
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s var(--cube-1);
}
.fx-slider-btn-1-item i {
  color: #fff;
  position: absolute;
  transition: all 0.4s var(--cube-1);
}
.fx-slider-btn-1-item i:last-child {
  transform: translateX(35px);
}
.fx-slider-btn-1-item:hover {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(252, 82, 32, 0.7);
}
.fx-slider-btn-1-item:hover i:first-child {
  transform: translateX(-35px);
}
.fx-slider-btn-1-item:hover i:last-child {
  transform: translateX(0px);
}
.fx-slider-btn-1-item:last-child i:last-child {
  transform: translateX(-35px);
}
.fx-slider-btn-1-item:last-child:hover i:first-child {
  transform: translateX(35px);
}
.fx-slider-btn-1-item:last-child:hover i:last-child {
  transform: translateX(0px);
}

/* 
    slider-btn-1-end
*/
/* 
    slider-btn-2-start
*/
.fx-slider-btn-2 {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}
.fx-slider-btn-2-item {
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 13px;
  opacity: 40%;
  flex: 0 0 auto;
  transition: all 0.3s var(--cube-1);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.fx-slider-btn-2-item i {
  font-size: 18px;
}
.fx-slider-btn-2-item:hover {
  color: var(--fx-clr-pr-1);
  opacity: 100%;
  transform: translateY(3px);
}

/* 
    slider-btn-2-end
*/
/* 
    slider-scrollbar-1-start
*/
.fx-slider-scrollbar-1 {
  width: 300px;
  flex: 0 0 auto;
  max-width: 300px;
  background: #eeeeee;
  height: 2px;
}
.fx-slider-scrollbar-1 .swiper-scrollbar-drag {
  background: var(--fx-clr-pr-1);
}

/* 
    slider-bscrollbar-1-end
*/
/* 
    rating-start-1-start
*/
.fx-star-1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 8px;
  color: #FC5220;
}

/* 
    rating-start-1-end
*/
/* 
    components-end
*/
/* 
    laa-button-start
*/
/* 
    mobile-menu-btn-1-start
*/
.laa-menu-btn-1 {
  width: 25px;
  height: 25px;
  flex: 0 0 auto;
  border: none;
  outline: none;
  background: transparent;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}
.laa-menu-btn-1 span {
  display: inline-block;
  flex: 0 0 auto;
  width: 5px;
  height: 5px;
  background: var(--laa-clr-h1);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.laa-menu-btn-1:hover {
  background: var(--fx-clr-sd-1);
}
.laa-menu-btn-1:hover span {
  background-color: var(--laa-clr-sd-1);
}
.laa-menu-btn-1:hover span:nth-child(1) {
  transform: translate(10px, 0px);
}
.laa-menu-btn-1:hover span:nth-child(3) {
  transform: translate(0px, 10px);
}
.laa-menu-btn-1:hover span:nth-child(7) {
  transform: translate(0px, -10px);
}
.laa-menu-btn-1:hover span:nth-child(9) {
  transform: translate(-10px, 0px);
}

/* 
    laa-search-btn
*/
.laa-search-btn {
  font-family: var(--laa-p-font-1);
  border: none;
  outline: none;
  background: transparent;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.48);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 20px;
  padding-right: 96px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  border-left: 1px solid rgba(255, 255, 255, 0.24);
  transition: 0.3s ease-in-out;
}
.laa-search-btn i {
  transition: 0.3s ease-in-out;
  color: var(--laa-clr-pr-1);
}
.laa-search-btn:hover {
  color: var(--laa-clr-pr-1);
  border-color: var(--laa-clr-pr-1);
}
.laa-search-btn:hover i {
  transform: translateX(3px);
}

/* 
    lang-switch-btn
*/
.laa-lang-switch {
  position: relative;
  display: inline-block;
}
.laa-lang-switch .check-toggle {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.laa-lang-switch .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.laa-lang-switch input.check-toggle-round-flat + label {
  padding: 2px;
  width: 72px;
  height: 24px;
  background-color: #fff;
  border-radius: 6px;
}
.laa-lang-switch input.check-toggle-round-flat + label:before, .laa-lang-switch input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.laa-lang-switch input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}
.laa-lang-switch input.check-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 34px;
  height: 20px;
  background-color: var(--laa-clr-sd-1);
  border-radius: 4px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
.laa-lang-switch input.check-toggle-round-flat:checked + label:after {
  margin-left: 34px;
}
.laa-lang-switch input.check-toggle-round-flat:checked ~ .off {
  color: #fff;
}
.laa-lang-switch input.check-toggle-round-flat:checked ~ .on {
  color: var(--laa-clr-h1);
}
.laa-lang-switch span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: var(--laa-h-font-1);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  top: 0;
  line-height: 24px;
  transition: 0.3s ease-in-out;
}
.laa-lang-switch .on {
  left: 0;
  color: #fff;
}
.laa-lang-switch .off {
  right: 0;
  color: var(--laa-clr-h1);
}

/* 
    pr-btn-1-start
*/
.laa-pr-btn-1 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 34px;
  align-items: center;
  font-family: var(--laa-h-font-1);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  background: var(--laa-clr-h1);
  color: #fff;
  padding: 4px;
  padding-left: 22px;
  border-radius: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.laa-pr-btn-1 .text {
  position: relative;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  margin-bottom: -2px;
}
.laa-pr-btn-1 .text::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
  position: absolute;
  content: attr(data-back);
  transform: translateY(100%);
}
.laa-pr-btn-1 .text::before {
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  transition: all 0.3s ease-in-out;
  position: relative;
  content: attr(data-front);
  transform: translateY(0);
}
.laa-pr-btn-1 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: var(--laa-clr-h1);
  flex: 0 0 auto;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.laa-pr-btn-1 .icon i {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.3s ease-in-out;
}
.laa-pr-btn-1 .icon i:nth-child(1) {
  left: -20%;
}
.laa-pr-btn-1:hover {
  color: #fff;
}
.laa-pr-btn-1:hover .text::after {
  opacity: 1;
  transform: translateY(0%);
}
.laa-pr-btn-1:hover .text::before {
  opacity: 0;
  transform: translateY(-240%);
}
.laa-pr-btn-1:hover .icon i:nth-child(1) {
  left: 50%;
}
.laa-pr-btn-1:hover .icon i:nth-child(2) {
  left: 110%;
}

/* 
    mobile-menu-btn-1-end 
*/
/* 
    pr-btn-1-end
*/
/* 
    search-btn-1-start
*/
.fx-search-btn-1 {
  font-family: var(--fx-font-pr-1);
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  background: transparent;
  padding: 0;
  transition: all 0.4s var(--cube-1);
  flex: 0 0 auto;
}
.fx-search-btn-1 i {
  color: #000;
  margin-right: 5px;
  transition: all 0.4s var(--cube-1);
}
.fx-search-btn-1:hover {
  color: var(--fx-clr-pr-1);
  transform: translateX(-3px);
}
.fx-search-btn-1:hover i {
  color: var(--fx-clr-pr-1);
}

/* 
    search-btn-1-end
*/
/* 
    playbtn-1-start
*/
.fx-play-btn-1 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: var(--fx-font-pr-1);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--fx-clr-pr-1);
  transition: all 0.4s var(--cube-1);
}
.fx-play-btn-1 i {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  transition: 0.2s;
  animation: fd-bounce-2 1.5s infinite;
}
.fx-play-btn-1:hover {
  transform: translateX(3px);
  color: var(--fx-clr-sd-1);
}
.fx-play-btn-1:hover i {
  animation: unset;
}
.fx-play-btn-1:is(.has-hover-white):hover {
  color: #fff;
}

/* 
    playbtn-1-end
*/
/* 
    playbtn-2-start
*/
.fx-playbtn-2 {
  display: flex;
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  color: var(--fx-clr-pr-1);
  position: relative;
  z-index: 1;
  transition: all 0.3s var(--cube-1);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .fx-playbtn-2 {
    width: 70px;
    height: 70px;
  }
}
.fx-playbtn-2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  transform: scale(1.3);
  animation: fx-scaling 6s linear infinite;
  animation-delay: 3s;
}
.fx-playbtn-2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
  transform: scale(1.6);
  animation: fx-scaling 6s linear infinite;
}

/* 
    playbtn-2-end
*/
/* 
    land-btn-1-start
*/
.fx-land-1-btn {
  border-radius: 0;
  border: none;
  font-family: var(--fx-font-pr-1);
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding-left: 0;
  line-height: 1;
  padding-right: 17px;
  height: auto;
}
.fx-land-1-btn::after {
  width: 7px;
  height: 7px;
  border-color: var(--fx-clr-pr-2);
  right: 2px;
  margin-top: -6px;
}
.fx-land-1-btn .current {
  transition: all 0.3s ease-in-out;
}
.fx-land-1-btn:hover .current {
  color: var(--fx-clr-pr-2);
}
.fx-land-1-btn .list li:is(.selected) {
  color: var(--fx-clr-pr-2);
}

/* 
    land-btn-1-end
*/
/* 
    button-button-end
*/
/* 
    heading-paragraph-css-start
*/
.laa-heading-1 {
  font-family: var(--laa-h-font-1);
  color: var(--laa-clr-h1);
  text-transform: capitalize;
  line-height: 1.3;
  margin-bottom: 0px;
}
.laa-heading-1:is(.has-clr-white) {
  color: #fff;
}

.laa-para-1 {
  font-family: var(--laa-h-font-1);
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  color: var(--laa-clr-p1);
  margin-bottom: 0px;
}
.laa-para-1:is(.has-clr-white) {
  color: #fff;
}

.laa-subtitle-1 {
  font-family: var(--laa-h-font-1);
  font-weight: 500;
  color: var(--laa-clr-h1);
  background: var(--laa-clr-pr-1);
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 12px;
  margin-bottom: 18px;
}

.laa-scn-title-1 {
  font-family: var(--laa-h-font-1);
  font-weight: 700;
  color: var(--laa-clr-h1);
  line-height: 1.09;
  font-size: 64px;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .laa-scn-title-1 {
    font-size: 56px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .laa-scn-title-1 {
    font-size: 48px;
    letter-spacing: 0px;
  }
}
@media (max-width: 767px) {
  .laa-scn-title-1 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .laa-scn-title-1 {
    font-size: 45px;
    letter-spacing: 0px;
  }
}

/* 
    heading-paragraph-css-end
*/
/* 
    laa-header-start
*/
.laa-header-1-top {
  background: var(--laa-clr-h1);
  border-radius: 0 0 15px 16px;
}
@media (max-width: 767px) {
  .laa-header-1-top {
    display: none;
  }
}
.laa-header-1-top-flex {
  gap: 20px;
  justify-content: space-between;
}
.laa-header-1-top-contact {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-header-1-top-contact {
    flex-wrap: wrap;
  }
}
.laa-header-1-top-contact li {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  padding: 7px 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-header-1-top-contact li {
    padding: 7px 10px;
    border-color: transparent;
  }
}
.laa-header-1-top-contact li:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.24);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-header-1-top-contact li:nth-child(1) {
    border-color: transparent;
  }
}
.laa-header-1-top-contact li a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
.laa-header-1-top-contact li a:hover {
  color: var(--laa-clr-pr-1);
  transform: translateX(-3px);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-header-1-top .laa-search-btn {
    display: none;
  }
}
.laa-header-1-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-header-1-main {
    padding: 15px 0;
  }
}
.laa-header-1-main-logo {
  display: inline-block;
  flex: 0 0 auto;
  max-width: 220px;
  width: 100%;
}
.laa-header-1-main-action-link {
  gap: 24px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .laa-header-1-main-action-link .laa-pr-btn-1 {
    display: none;
  }
}
@media (max-width: 767px) {
  .laa-header-1-main-action-link .laa-pr-btn-1 {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .laa-header-1-main-action-link .laa-pr-btn-1 {
    display: inline-flex;
  }
}

.laa-main-navigation .navbar-nav {
  display: inherit;
}
.laa-main-navigation .navbar-nav li {
  display: inline-block;
  position: relative;
}
.laa-main-navigation .navbar-nav li:not(:last-child) {
  margin-right: 27px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .laa-main-navigation .navbar-nav li:not(:last-child) {
    margin-right: 15px;
  }
}
.laa-main-navigation .navbar-nav li:is(.dropdown) > a {
  padding-right: 17px;
}
.laa-main-navigation .navbar-nav li:is(.dropdown) > a::before {
  content: "\f067";
  font-family: "Font Awesome 5 Pro";
  font-weight: 600;
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 49%;
  transform: translateY(-50%);
  transition: 400ms ease-in-out;
}
.laa-main-navigation .navbar-nav li:is(.dropdown):hover > a::before {
  transform: translateY(-50%) rotate(360deg);
  content: "\f068";
}
.laa-main-navigation .navbar-nav li a {
  position: relative;
  z-index: 1;
  font-family: var(--laa-h-font-1);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: var(--laa-clr-h1);
  padding: 41px 0;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}
.laa-main-navigation .navbar-nav li a:is(.is-active) {
  color: var(--laa-clr-sd-1);
}
.laa-main-navigation .navbar-nav li a:is(.is-active)::before {
  transform: translateY(-50%) rotate(360deg);
  content: "\f068";
}
.laa-main-navigation .navbar-nav li:hover > a {
  color: var(--laa-clr-sd-1);
  transform: translateY(3px);
}
.laa-main-navigation .navbar-nav li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px) translateZ(0);
}
.laa-main-navigation .navbar-nav li .dropdown-menu {
  left: 0;
  top: 100%;
  z-index: 100;
  margin: 0px;
  padding: 20px 0px;
  height: auto;
  min-width: 250px;
  display: block;
  border: none;
  border-top: 2px solid var(--laa-clr-sd-1);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 2px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px) translateZ(0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.laa-main-navigation .navbar-nav li .dropdown-menu li {
  display: block;
  margin: 0;
  position: relative;
}
.laa-main-navigation .navbar-nav li .dropdown-menu li a {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
}
.laa-main-navigation .navbar-nav li .dropdown-menu li a:is(.is-active)::before {
  display: none;
}
.laa-main-navigation .navbar-nav li .dropdown-menu li:is(.dropdown) > a::before {
  right: 20px;
  top: 49%;
}
.laa-main-navigation .navbar-nav li .dropdown-menu li .dropdown-menu {
  top: 0;
  left: 100%;
  min-width: 250px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px) translateZ(0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.laa-main-navigation .navbar-nav li .dropdown-menu li:hover > a {
  transform: translateX(5px);
}
.laa-main-navigation .navbar-nav li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px) translateZ(0);
}

/* 
    laa-header-end
*/
/* 
    laa-hero-1-start
*/
.laa-hero-1-area {
  position: relative;
  z-index: 1;
}
.laa-hero-1-slider {
  overflow: hidden;
  border-radius: 20px;
}
.laa-hero-1-slider-item-bg {
  position: relative;
  z-index: 1;
  padding: 192px 0;
}
.laa-hero-1-slider-item-bg .item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.laa-hero-1-slider-item-bg .item-bg::after {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgb(26, 45, 78) 35%, rgba(0, 212, 255, 0) 100%);
}
.laa-hero-1-slider-item-bg .bg-shape {
  position: absolute;
  bottom: 0;
  left: 0;
}
.laa-hero-1-slider-item-content {
  max-width: 640px;
}
.laa-hero-1-slider-item-content .hero-title {
  color: #fff;
  margin-bottom: 28px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .laa-hero-1-slider-item-content .hero-title {
    font-size: 60px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .laa-hero-1-slider-item-content .hero-title {
    font-size: 55px;
  }
}
.laa-hero-1-slider-item-content .hero-disc {
  color: #fff;
  margin-bottom: 32px;
  opacity: 88%;
}
.laa-hero-1-slider-btn-wrap {
  text-align: right;
  margin-right: 422px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-hero-1-slider-btn-wrap {
    margin-right: 0px;
  }
}
.laa-hero-1-social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  left: 50px;
  z-index: 1;
  gap: 12px;
}
@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .laa-hero-1-social {
    left: 20px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .laa-hero-1-social {
    display: none;
  }
}
.laa-hero-1-social::after {
  content: "";
  width: 2px;
  height: 150%;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 22px;
  opacity: 12%;
}
.laa-hero-1-social-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  font-family: var(--laa-h-font-1);
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}
.laa-hero-1-social-link .icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.64);
  background: var(--laa-clr-h1);
  transition: 0.3s ease-in-out;
  font-size: 16px;
}
.laa-hero-1-social-link .text {
  display: inline-block;
  overflow: hidden;
}
.laa-hero-1-social-link .text span {
  display: inline-block;
  transform: translateX(-125%);
  transition: 0.3s ease-in-out;
}
.laa-hero-1-social-link:hover {
  color: #fff;
}
.laa-hero-1-social-link:hover .icon {
  border-color: #fff;
  color: #fff;
}
.laa-hero-1-social-link:hover .text span {
  transform: translateX(0%);
}

/* 
    laa-hero-1-end
*/
/* 
    laa-services-1-start
*/
.laa-services-1-area {
  margin-top: -200px;
}
.laa-services-1-slider {
  max-width: 418px;
  margin-left: auto;
  box-shadow: -12px 12px 64px 0 rgba(0, 0, 0, 0.04);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: relative;
  z-index: 2;
}
.laa-services-1-slider-item {
  padding: 44px 44px;
  padding-bottom: 36px;
}
.laa-services-1-slider-item .text-right {
  text-align: right;
}
.laa-services-1-slider-item .item-btn {
  display: inline-block;
}
.laa-services-1-slider-item .item-subtitle {
  font-size: 16px;
  color: var(--laa-clr-sd-1);
  margin-bottom: 28px;
}
.laa-services-1-slider-item .item-title {
  font-size: 32px;
  line-height: 1.25;
  transition: 0.2s ease;
  margin-bottom: 32px;
}
.laa-services-1-slider-item .item-title span {
  color: var(--laa-clr-sd-1);
}
.laa-services-1-slider-item .item-title:hover {
  transform: translateX(3px);
  color: var(--laa-clr-sd-1);
}
.laa-services-1-slider-item .item-line {
  height: 1px;
  background: rgba(26, 45, 78, 0.12);
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}
.laa-services-1-slider-item .item-line::after {
  content: "";
  width: 21px;
  height: 3px;
  position: absolute;
  right: 34px;
  top: -1px;
  background: var(--laa-clr-h1);
  opacity: 100%;
}
.laa-services-1-slider-item .content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.laa-services-1-slider-item .content-wrap .item-disc {
  font-size: 16px;
  opacity: 80%;
}
.laa-services-1-slider-item .item-counter {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: -1px;
  font-weight: 400;
}
.laa-services-1-slider-item .item-counter span {
  opacity: 56%;
}
.laa-services-1-slider-item .item-counter span:nth-child(1) {
  opacity: 100%;
  font-size: 18px;
  font-weight: 600;
}
.laa-services-1-slider-item .item-fadeup {
  transform: translateY(30%);
  display: block;
  opacity: 0;
  transition: 0.5s ease-in;
  transition-delay: 0s;
}
.laa-services-1-slider .swiper-container .swiper-wrapper .swiper-slide:is(.swiper-slide-active) .laa-services-1-slider-item .item-fadeup {
  transform: translateY(0);
  opacity: 1;
}
.laa-services-1-slider .swiper-container .swiper-wrapper .swiper-slide:is(.swiper-slide-active) .laa-services-1-slider-item .item-fadeup:nth-child(1) {
  transition-delay: 0.5s;
}
.laa-services-1-slider .swiper-container .swiper-wrapper .swiper-slide:is(.swiper-slide-active) .laa-services-1-slider-item .item-fadeup:nth-child(2) {
  transition-delay: 0.6s;
}
.laa-services-1-slider .swiper-container .swiper-wrapper .swiper-slide:is(.swiper-slide-active) .laa-services-1-slider-item .item-fadeup:nth-child(3) {
  transition-delay: 0.7s;
}
.laa-services-1-slider .swiper-container .swiper-wrapper .swiper-slide:is(.swiper-slide-active) .laa-services-1-slider-item .item-fadeup:nth-child(5) {
  transition-delay: 0.8s;
}

/* 
    laa-services-1-end
*/
/* 
    laa-css-end
*/

/*# sourceMappingURL=main.css.map */
