/* 
    laa-css-start
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  /* 
  	laa-veriable
  */
  --laa-h-font-1: "Inter", sans-serif;
  --laa-p-font-1: "Inter", sans-serif;
  --laa-clr-pr-1: #27AAE2;
  --laa-clr-sd-1: #F62459;
  --laa-clr-h1: #1A2D4E;
  --laa-clr-para-1: #222222;
}

/* Responsive Variables start */
/* Responsive Variables end */
/* 
    laa-common-css-start
*/
@media (min-width: 1400px) {
  .container.laa-container-1 {
    max-width: 1344px;
  }
}
.fix {
  overflow: hidden;
}

.img-cover img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.bg-default {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flaticon {
  display: inline-block;
  line-height: 0.65;
}

.z-index-3 {
  position: relative;
  z-index: 3;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
  z-index: 1;
}

.laa-font-400 {
  font-weight: 400;
}

.laa-font-500 {
  font-weight: 500;
}

.laa-font-600 {
  font-weight: 600;
}

.laa-font-700 {
  font-weight: 700;
}

.laa-font-800 {
  font-weight: 800;
}

.laa-font-900 {
  font-weight: 900;
}

.laa-h-font-1 {
  font-family: var(--laa-h-font-1);
}

.laa-p-font-1 {
  font-family: var(--laa-p-font-1);
}

.laa-ml-auto {
  margin-left: auto;
}

.laa-mr-auto {
  margin-right: auto;
}

.line-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.line-limit:is(.has-line-1) {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.line-limit:is(.has-line-2) {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.line-limit:is(.has-line-3) {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.line-limit:is(.has-line-4) {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.line-limit:is(.has-line-5) {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
.line-limit:is(.has-line-6) {
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
.line-limit:is(.has-line-7) {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}
.line-limit:is(.has-line-8) {
  -webkit-line-clamp: 8;
  line-clamp: 8;
}
.line-limit:is(.has-line-9) {
  -webkit-line-clamp: 9;
  line-clamp: 9;
}
.line-limit:is(.has-line-10) {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

/* 
    laa-common-css-end
*/
/* 
    components-start
*/
/* 
    contact-list-start
*/
.fx-contact-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .fx-contact-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}
.fx-contact-list li {
  font-family: var(--fx-font-pr-1);
  color: #fff;
  font-size: 14px;
  line-height: 2.6;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  transition: all 0.5s var(--cube-1);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .fx-contact-list li {
    border-right: none;
  }
}
.fx-contact-list li i {
  margin-right: 4px;
}
.fx-contact-list li a {
  transition: all 0.5s var(--cube-1);
}
.fx-contact-list li a:hover {
  color: var(--fx-clr-pr-1);
  transform: translateX(3px);
}

/* 
    contact-list-end
*/
/* 
    social-list-start
*/
.fx-social-icon {
  display: flex;
  align-items: center;
}
.fx-social-icon-btn {
  font-size: 14px;
  color: #fff;
  padding: 2px 15px;
  flex: 0 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.16);
  transition: all 0.3s var(--cube-1);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .fx-social-icon-btn {
    border-left: none;
  }
}
.fx-social-icon-btn:hover {
  background-color: var(--fx-clr-pr-1);
}
.fx-social-icon-btn:nth-child(1):hover {
  border-color: transparent;
  background: #1974EC;
  color: #fff;
}
.fx-social-icon-btn:nth-child(2):hover {
  border-color: transparent;
  background: #0077B5;
  color: #fff;
}
.fx-social-icon-btn:nth-child(3):hover {
  border-color: transparent;
  background: #1C9CEA;
  color: #fff;
}
.fx-social-icon-btn:nth-child(4):hover {
  border-color: transparent;
  background: #CE36A6;
  color: #fff;
}

/* 
    social-list-end
*/
/* 
    social-list-2-start
*/
.fx-social-icon-2 {
  display: flex;
  flex-direction: column;
  background: var(--fx-clr-sd-2);
  border-radius: 8px;
  gap: 27px;
  padding: 16px 11px;
  align-items: center;
}
.fx-social-icon-2-btn {
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 1;
  transition: all 0.4s var(--cube-1);
  position: relative;
  z-index: 1;
}
.fx-social-icon-2-btn:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 8px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 28px;
}
.fx-social-icon-2-btn:hover {
  color: var(--fx-clr-pr-1);
  background: transparent;
  transform: scale(120%);
}

/* 
    social-list-2-end
*/
/* 
    fx-gap-start
*/
.fx-gap-12 {
  display: block;
  height: 12px;
}

.fx-gap-16 {
  display: block;
  height: 16px;
}

.fx-gap-60 {
  display: block;
  height: 60px;
}

.has-h5-redius {
  border-radius: 0 0 56px 56px;
}
@media (max-width: 767px) {
  .has-h5-redius {
    border-radius: 0 0 10px 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .has-h5-redius {
    border-radius: 0 0 20px 20px;
  }
}

/* 
    fx-gap-end
*/
/* 
    slider-pagination-1-start
*/
.fx-slider-pagi-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fx-slider-pagi-1 span {
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.32);
  opacity: 1;
  flex: 0 0 auto;
  margin: 0 !important;
  padding: 0;
  position: relative;
}
.fx-slider-pagi-1 span::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--fx-clr-pr-1);
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s var(--cube-1);
}
.fx-slider-pagi-1 span:is(.swiper-pagination-bullet-active) {
  background: var(--fx-clr-pr-1);
}
.fx-slider-pagi-1 span:is(.swiper-pagination-bullet-active)::after {
  opacity: 1;
}

/* 
    slider-pagination-1-end
*/
/* 
    slider-btn-1-start
*/
.fx-slider-btn-1-item {
  display: inline-flex;
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s var(--cube-1);
}
.fx-slider-btn-1-item i {
  color: #fff;
  position: absolute;
  transition: all 0.4s var(--cube-1);
}
.fx-slider-btn-1-item i:last-child {
  transform: translateX(35px);
}
.fx-slider-btn-1-item:hover {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(252, 82, 32, 0.7);
}
.fx-slider-btn-1-item:hover i:first-child {
  transform: translateX(-35px);
}
.fx-slider-btn-1-item:hover i:last-child {
  transform: translateX(0px);
}
.fx-slider-btn-1-item:last-child i:last-child {
  transform: translateX(-35px);
}
.fx-slider-btn-1-item:last-child:hover i:first-child {
  transform: translateX(35px);
}
.fx-slider-btn-1-item:last-child:hover i:last-child {
  transform: translateX(0px);
}

/* 
    slider-btn-1-end
*/
/* 
    slider-btn-2-start
*/
.fx-slider-btn-2 {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}
.fx-slider-btn-2-item {
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 13px;
  opacity: 40%;
  flex: 0 0 auto;
  transition: all 0.3s var(--cube-1);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.fx-slider-btn-2-item i {
  font-size: 18px;
}
.fx-slider-btn-2-item:hover {
  color: var(--fx-clr-pr-1);
  opacity: 100%;
  transform: translateY(3px);
}

/* 
    slider-btn-2-end
*/
/* 
    slider-scrollbar-1-start
*/
.fx-slider-scrollbar-1 {
  width: 300px;
  flex: 0 0 auto;
  max-width: 300px;
  background: #eeeeee;
  height: 2px;
}
.fx-slider-scrollbar-1 .swiper-scrollbar-drag {
  background: var(--fx-clr-pr-1);
}

/* 
    slider-bscrollbar-1-end
*/
/* 
    rating-start-1-start
*/
.fx-star-1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 8px;
  color: #FC5220;
}

/* 
    rating-start-1-end
*/
/* 
    components-end
*/
/* 
    laa-button-start
*/
/* 
    laa-search-btn
*/
.laa-search-btn {
  font-family: var(--laa-p-font-1);
  border: none;
  outline: none;
  background: transparent;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.48);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 20px;
  padding-right: 96px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  border-left: 1px solid rgba(255, 255, 255, 0.24);
  transition: 0.3s ease-in-out;
}
.laa-search-btn i {
  transition: 0.3s ease-in-out;
  color: var(--laa-clr-pr-1);
}
.laa-search-btn:hover {
  color: var(--laa-clr-pr-1);
  border-color: var(--laa-clr-pr-1);
}
.laa-search-btn:hover i {
  transform: translateX(3px);
}

/* 
    lang-switch-btn
*/
.laa-lang-switch {
  position: relative;
  display: inline-block;
}
.laa-lang-switch .check-toggle {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.laa-lang-switch .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.laa-lang-switch input.check-toggle-round-flat + label {
  padding: 2px;
  width: 72px;
  height: 24px;
  background-color: #fff;
  border-radius: 6px;
}
.laa-lang-switch input.check-toggle-round-flat + label:before, .laa-lang-switch input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.laa-lang-switch input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
}
.laa-lang-switch input.check-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 34px;
  height: 20px;
  background-color: var(--laa-clr-sd-1);
  border-radius: 4px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}
.laa-lang-switch input.check-toggle-round-flat:checked + label:after {
  margin-left: 34px;
}
.laa-lang-switch input.check-toggle-round-flat:checked ~ .off {
  color: #fff;
}
.laa-lang-switch input.check-toggle-round-flat:checked ~ .on {
  color: var(--laa-clr-h1);
}
.laa-lang-switch span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: var(--laa-h-font-1);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  top: 0;
  line-height: 24px;
  transition: 0.3s ease-in-out;
}
.laa-lang-switch .on {
  left: 0;
  color: #fff;
}
.laa-lang-switch .off {
  right: 0;
  color: var(--laa-clr-h1);
}

/* 
    mobile-menu-btn-1-start
*/
.fx-menu-btn-1 {
  width: 80px;
  height: 80px;
  flex: 0 0 auto;
  background: var(--fx-clr-pr-1);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.5s var(--cube-1);
}
.fx-menu-btn-1 span {
  display: inline-block;
  flex: 0 0 auto;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.5s var(--cube-1);
}
.fx-menu-btn-1:hover {
  background: var(--fx-clr-sd-1);
}
.fx-menu-btn-1:hover span:nth-child(1) {
  transform: translate(-5px, -5px);
}
.fx-menu-btn-1:hover span:nth-child(2) {
  transform: translate(0px, -5px);
}
.fx-menu-btn-1:hover span:nth-child(3) {
  transform: translate(5px, -5px);
}
.fx-menu-btn-1:hover span:nth-child(4) {
  transform: translate(-5px, 0px);
}
.fx-menu-btn-1:hover span:nth-child(6) {
  transform: translate(5px, 0px);
}
.fx-menu-btn-1:hover span:nth-child(7) {
  transform: translate(-5px, 5px);
}
.fx-menu-btn-1:hover span:nth-child(8) {
  transform: translate(0px, 5px);
}
.fx-menu-btn-1:hover span:nth-child(9) {
  transform: translate(5px, 5px);
}

/* 
    mobile-menu-btn-1-end 
*/
/* 
    pr-btn-1-start
*/
.fx-pr-btn-1 {
  display: inline-block;
  flex: 0 0 auto;
  font-family: var(--fx-font-pr-1);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  background: var(--fx-clr-pr-1);
  color: #fff;
  padding: 19px 27px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.5s var(--cube-1);
}
.fx-pr-btn-1 i {
  margin-left: 10px;
}
.fx-pr-btn-1 .text {
  position: relative;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  margin-bottom: -2px;
}
.fx-pr-btn-1 .text::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  display: block;
  transition: all 0.5s var(--cube-1);
  position: absolute;
  content: attr(data-back);
  transform: translateY(100%);
}
.fx-pr-btn-1 .text::before {
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  transform: translateY(0);
}
.fx-pr-btn-1:hover {
  background: #000;
  color: #fff;
}
.fx-pr-btn-1:hover .text::after {
  opacity: 1;
  transform: translateY(0%);
}
.fx-pr-btn-1:hover .text::before {
  opacity: 0;
  transform: translateY(-240%);
}
.fx-pr-btn-1:is(.has-hover-white) .text::after {
  color: var(--fx-clr-pr-1);
}
.fx-pr-btn-1:is(.has-hover-white) .text::before {
  color: #fff;
}
.fx-pr-btn-1:is(.has-hover-white):hover {
  background: #fff;
  color: var(--fx-clr-pr-1);
}
.fx-pr-btn-1:is(.has-hover-border) {
  border: 2px solid transparent;
}
.fx-pr-btn-1:is(.has-hover-border) .text::after {
  color: var(--fx-clr-pr-1);
}
.fx-pr-btn-1:is(.has-hover-border):hover {
  background: transparent;
  border-color: var(--fx-clr-pr-1);
}
.fx-pr-btn-1:is(.has-white-bg) {
  background: #fff;
  border: 2px solid transparent;
  padding: 17px 27px;
}
.fx-pr-btn-1:is(.has-white-bg) .text::before {
  color: var(--fx-clr-pr-1);
}
.fx-pr-btn-1:is(.has-white-bg) .text::after {
  color: #fff;
}
.fx-pr-btn-1:is(.has-white-bg):hover {
  background: transparent;
  border-color: #fff;
}
.fx-pr-btn-1:is(.has-clip) {
  border-radius: 0;
  padding: 19px 31px;
  clip-path: polygon(10% 0, 100% 0, 100% 65%, 90% 100%, 0 100%, 0 0);
}
.fx-pr-btn-1:is(.has-clip) .text::after {
  color: var(--fx-clr-pr-1);
}
.fx-pr-btn-1:is(.has-clip):hover {
  background: #fff;
  clip-path: polygon(10% 0, 100% 0, 100% 65%, 90% 100%, 0 100%, 0 35%);
}
.fx-pr-btn-1:is(.has-clip):is(.has-hover-black) .text::after {
  color: #fff;
}
.fx-pr-btn-1:is(.has-clip):is(.has-hover-black):hover {
  background: #000;
}
.fx-pr-btn-1:is(.has-btn-5) {
  background: var(--fx-clr-pr-2);
}
.fx-pr-btn-1:is(.has-btn-5) .text::before {
  color: #000;
}
.fx-pr-btn-1:is(.has-btn-5) .text::after {
  color: #fff;
}
.fx-pr-btn-1:is(.has-btn-5) i {
  color: #000;
}
.fx-pr-btn-1:is(.has-btn-5):hover {
  background: #000;
}
.fx-pr-btn-1:is(.has-btn-5):hover i {
  color: #fff;
}
.fx-pr-btn-1:is(.has-btn-5):is(.hover-white) .text::after {
  color: var(--fx-clr-pr-2);
}
.fx-pr-btn-1:is(.has-btn-5):is(.hover-white):hover {
  background: #fff;
}
.fx-pr-btn-1:is(.has-btn-5):is(.hover-white):hover i {
  color: var(--fx-clr-pr-2);
}
.fx-pr-btn-1:is(.has-h6) {
  background: var(--fx-clr-pr-2);
}
.fx-pr-btn-1:is(.has-h6) .text::before {
  color: #000;
}
.fx-pr-btn-1:is(.has-h6) i {
  color: #000;
}
.fx-pr-btn-1:is(.has-h6):hover {
  background: #000;
}
.fx-pr-btn-1:is(.has-h6):hover i {
  color: #fff;
}
.fx-pr-btn-1:is(.has-h6):is(.hover-white) .text::after {
  color: #000;
}
.fx-pr-btn-1:is(.has-h6):is(.hover-white):hover {
  background: #fff;
}
.fx-pr-btn-1:is(.has-h6):is(.hover-white):hover i {
  color: #000;
}

/* 
    pr-btn-1-end
*/
/* 
    search-btn-1-start
*/
.fx-search-btn-1 {
  font-family: var(--fx-font-pr-1);
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  background: transparent;
  padding: 0;
  transition: all 0.4s var(--cube-1);
  flex: 0 0 auto;
}
.fx-search-btn-1 i {
  color: #000;
  margin-right: 5px;
  transition: all 0.4s var(--cube-1);
}
.fx-search-btn-1:hover {
  color: var(--fx-clr-pr-1);
  transform: translateX(-3px);
}
.fx-search-btn-1:hover i {
  color: var(--fx-clr-pr-1);
}

/* 
    search-btn-1-end
*/
/* 
    playbtn-1-start
*/
.fx-play-btn-1 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: var(--fx-font-pr-1);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--fx-clr-pr-1);
  transition: all 0.4s var(--cube-1);
}
.fx-play-btn-1 i {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  transition: 0.2s;
  animation: fd-bounce-2 1.5s infinite;
}
.fx-play-btn-1:hover {
  transform: translateX(3px);
  color: var(--fx-clr-sd-1);
}
.fx-play-btn-1:hover i {
  animation: unset;
}
.fx-play-btn-1:is(.has-hover-white):hover {
  color: #fff;
}

/* 
    playbtn-1-end
*/
/* 
    playbtn-2-start
*/
.fx-playbtn-2 {
  display: flex;
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  color: var(--fx-clr-pr-1);
  position: relative;
  z-index: 1;
  transition: all 0.3s var(--cube-1);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .fx-playbtn-2 {
    width: 70px;
    height: 70px;
  }
}
.fx-playbtn-2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  transform: scale(1.3);
  animation: fx-scaling 6s linear infinite;
  animation-delay: 3s;
}
.fx-playbtn-2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
  transform: scale(1.6);
  animation: fx-scaling 6s linear infinite;
}

/* 
    playbtn-2-end
*/
/* 
    land-btn-1-start
*/
.fx-land-1-btn {
  border-radius: 0;
  border: none;
  font-family: var(--fx-font-pr-1);
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding-left: 0;
  line-height: 1;
  padding-right: 17px;
  height: auto;
}
.fx-land-1-btn::after {
  width: 7px;
  height: 7px;
  border-color: var(--fx-clr-pr-2);
  right: 2px;
  margin-top: -6px;
}
.fx-land-1-btn .current {
  transition: all 0.3s ease-in-out;
}
.fx-land-1-btn:hover .current {
  color: var(--fx-clr-pr-2);
}
.fx-land-1-btn .list li:is(.selected) {
  color: var(--fx-clr-pr-2);
}

/* 
    land-btn-1-end
*/
/* 
    button-button-end
*/
/* 
    heading-paragraph-css-start
*/
.fx-heading-1 {
  font-family: var(--fx-font-pr-1);
  color: #000;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.fx-heading-1:is(.has-clr-white) {
  color: #fff;
}

.fx-heading-2 {
  font-family: var(--fx-font-pr-2);
  color: #000;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.fx-heading-2:is(.has-clr-white) {
  color: #fff;
}

.fx-para-1 {
  font-family: var(--fx-font-pr-1);
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  color: #000;
  margin-bottom: 0px;
}
.fx-para-1:is(.has-clr-white) {
  color: #fff;
}
.fx-para-1:is(.has-opacity-7) {
  opacity: 0.72;
}
.fx-para-1:is(.has-opacity-8) {
  opacity: 80%;
}

.fx-subtitle-1 {
  display: inline-flex;
  align-items: center;
  gap: 10px 40px;
  font-family: var(--fx-font-pr-1);
  color: #000;
  line-height: 1;
  margin-bottom: 0;
  opacity: 64%;
  margin-bottom: 20px;
  font-weight: 400;
}
.fx-subtitle-1:is(.has-clr-white) {
  color: #fff;
}
.fx-subtitle-1:is(.has-mb-28) {
  margin-bottom: 28px;
}

.fx-scn-title-1 {
  font-family: var(--fx-font-pr-1);
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  color: #000;
  letter-spacing: -1px;
  line-height: 1.088;
  margin-bottom: 0;
}
.fx-scn-title-1 .pr-clr {
  color: var(--fx-clr-pr-2);
}
.fx-scn-title-1:is(.has-clr-white) {
  color: #fff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fx-scn-title-1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fx-scn-title-1 {
    font-size: 35px;
    letter-spacing: -1px;
  }
}
@media (max-width: 767px) {
  .fx-scn-title-1 {
    font-size: 26px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .fx-scn-title-1 {
    font-size: 30px;
  }
}

.fx-scn-title-2 {
  font-family: var(--fx-font-pr-2);
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 600;
  color: #000;
  letter-spacing: -1px;
  line-height: 0.796;
  margin-bottom: 0;
}
.fx-scn-title-2 .pr-clr {
  color: var(--fx-clr-pr-2);
}
.fx-scn-title-2:is(.has-clr-white) {
  color: #fff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fx-scn-title-2 {
    font-size: 56px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fx-scn-title-2 {
    font-size: 48px;
    letter-spacing: 0px;
  }
}
@media (max-width: 767px) {
  .fx-scn-title-2 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .fx-scn-title-2 {
    font-size: 45px;
    letter-spacing: 0px;
  }
}

.fx-scn-title-3 {
  font-family: var(--fx-font-pr-2);
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 600;
  color: #000;
  letter-spacing: -2px;
  line-height: 0.766;
  margin-bottom: 0;
}
.fx-scn-title-3 .pr-clr {
  color: var(--fx-clr-pr-2);
}
.fx-scn-title-3:is(.has-clr-white) {
  color: #fff;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .fx-scn-title-3 {
    font-size: 80px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fx-scn-title-3 {
    font-size: 65px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fx-scn-title-3 {
    font-size: 50px;
    letter-spacing: 0px;
  }
}
@media (max-width: 767px) {
  .fx-scn-title-3 {
    font-size: 30px;
    letter-spacing: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .fx-scn-title-3 {
    font-size: 40px;
    letter-spacing: 0px;
  }
}

/* 
    heading-paragraph-css-end
*/
/* 
    laa-header-start
*/
.laa-header-1-area {
  margin-left: 20px;
  margin-right: 20px;
}
.laa-header-1-top {
  background: var(--laa-clr-h1);
  border-radius: 0 0 15px 16px;
}
.laa-header-1-top-flex {
  gap: 20px;
  justify-content: space-between;
}
.laa-header-1-top-contact {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.laa-header-1-top-contact li {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  padding: 7px 20px;
}
.laa-header-1-top-contact li:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.24);
}
.laa-header-1-top-contact li a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
.laa-header-1-top-contact li a:hover {
  color: var(--laa-clr-pr-1);
  transform: translateX(-3px);
}

/* 
    laa-header-end
*/
/* 
    laa-css-end
*/

/*# sourceMappingURL=main.css.map */
